@charset "utf-8";
/* CSS Document */


/*联系我们*/
.contact_aa{
	width:980px;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	background:#FFFFFF;}
.contact_aa_title{
	width:886px;
	height:49px;
	border-bottom:1px solid #E5E5E5;
	margin:20px 47px 32px 47px;}
.contact_aa_title_a{
	width:596px;
	height:49px;
	float:left;
	font-size:20px;
	color:#484848;
	text-align:left;
	line-height:49px;
	padding-left:4px;}
.contact_aa_title_b{
	width:12px;
	height:15px;
	float:right;
	padding-top:23px;
	padding-bottom:11px;
	padding-right:8px;}
.contact_aa_title_c{
	width:auto;
	height:35px;
	float:right;
	text-align:right;
	padding-top:14px;
	padding-right:5px;
	line-height:35px;
	color:#666666;}
.contact_aa_title_c a:link,.contact_aa_title_c a:visited{
	color:#333333;
	text-decoration:none;}
.contact_aa_title_c a:hover{
	color:#333333;
	text-decoration:underline;}
.contact_map{
	width:886px;
	height:298px;
	margin:0px 47px 50px 47px;
	font-size:14px;
	color:#333333;}


/*视频中心*/

.video_con{
	width:886px;
	height:auto;
	overflow:hidden;
	margin:0px 47px 0px 47px;}
.video_con_aa{
	width:212px;
	height:250px;
	float:left;
	margin:0px 8px 23px 1px;}
.video_con_aa_1{
	width:204px;
	height:204px;
	border:1px solid #DAC479;
	padding:3px 3px;}
.video_con_aa_2{
	width:212px;
	height:33px;
	line-height:33px;
	padding-top:5px;
	color:#333;
	font-size:14px;
	text-align:center;}
.video_con_aa_2 a:link,.video_con_aa_2 a:visited{
	color:#333;
	text-decoration:none;}
.video_con_aa_2 a:hover{
	color:#000;
	text-decoration:none;}
	
.page_a{
	width:886px;
	height:29px;
	margin-left:47px;
	margin-right:47px;
	margin-bottom:37px;
	padding-top:22px;
	padding-right:11px;
	border-top:1px solid #e5e5e5;}