@charset "utf-8";
@import url('block/reset.css');
@import url('block/other.css');
@import url('block/common.css');
/*搜索分类*/
.item-list{margin-top:20px; }
.item-list-tit{border-top:2px solid #ff6600; border-left:1px solid #ddd; border-right:1px solid #ddd; width:154px; height:40px; text-align:center; line-height:40px; font-size:14px; position:relative; z-index:2; background:#fff;}
.item-list-bdy{margin-top:-1px;padding:0 22px;border:1px solid #ddd; position:relative;z-index:1; font-size: 14px; }
.item-list-bdy .items{padding:10px 5px; line-height:26px;border-bottom:1px dashed #f2f2f2; }
.item-list-bdy .item-title{width: 52px; float: left;}
.item-list-bdy .elems-l{ position: relative; overflow: hidden; zoom:1;}
.item-list-bdy .filter-group{padding:5px 0 0 45px;}
.item-list-bdy a,.item-list-bdy .elems-l span{margin-right:15px; display:inline-block;} 
.item-list-bdy .selected-item{font-weight:bold; color:#ff4400;}
.item-list-bdy .borNo{border: none;}
.search_bottom{height:31px; margin-top:14px;margin-left:5px;}
.cond-screen li{ float:left; margin-right:10px; display:inline; position: relative;}
.cond-screen li a{ display:inline-block; width: 91px; height: 20px; line-height: 20px;border:1px solid #d1d1d1;}
.cond-screen .select_item .txt{ display:inline-block;padding-left:7px; white-space: nowrap; cursor: pointer;}
.cond-screen .icon{ position: absolute; right: 7px; top:9px; display: block; overflow: hidden; width: 0; height: 0; line-height: 0; border: 4px solid; border-color: #7b7b7b #fff #fff #fff;}
/*排序*/
.sortby{ margin:10px 0 15px;padding:9px 20px 9px 30px; height:30px; line-height:30px;background: #fafafa; border: 1px solid #ddd; }
.sortby .sort-con{ float: left;}
.sortby .sort-con a{margin-left:20px; padding-right:15px; background: url(../images/sort_arrow.gif) no-repeat 30px 0;}
.sortby .sort-con a.fst{margin-left:0;padding-right: 0; background: none;}
.sortby .sort-con .down{ background-position: 40px 5px;}
.sortby .sort-con .up{ background-position: 30px -11px;}
.sortby .sort-con a.cur, .sortby .sort-con a:hover{color: #f60;}
.sortby .sort-con a.selected-down{color: #f60; background-position: 30px -28px;}
.sortby .sort-con a.selected-up{color: #f60; background-position: 30px -45px;}

.sort-res{float: right; font-size: 16px;}
.res-txt{ display: inline-block; margin-right:30px;}


/*结果列表*/
.serchL{width: 865px; float: left;}
.houselist{margin-bottom:20px; overflow:hidden;zoom:1;}
.houselist li,.houselist .houseli{padding:20px 0; position: relative; border-bottom: 1px solid #f0f0f0; cursor: pointer; overflow:hidden; zoom:1;}
.houselist .over-bg{ background: #f9f9f9;}
.houselist .houseli,.houselist .last{border: none;}
.houselist li img{ float: left; width: 205px; }
.housedetail{padding-left: 20px; float: left;}
.house-tit{margin-bottom: 8px; font-size: 16px; color: #554d46; line-height:24px;}
.house-state{margin-bottom: 5px;}
.house-state span{margin-right: 2px; display:inline-block;padding:0 3px;border:1px solid #ddd; font-size: 13px; line-height: 20px; color: #9f9f9f;}
.house-state .cur{border:1px solid #ff6026; color: #ff4400;}
.house-address{margin-bottom: 2px; color: #797979; font-size: 14px;}
.house-other-info{margin-bottom: 2px; color: #797979; font-size: 14px;}
.houselist .house-other-info span,.houselist .house-other-info em{margin-right: 10px;} 
.house-tel{ padding-left:22px; font-size: 16px;background: url(../images/icon3_1.png) no-repeat -25px -200px;}
.housearea{padding-top: 50px; position: absolute; top:0; right:100px;width:75px; font-size: 16px; }
.houseprice{ position: absolute; top:0; right: 10px; width: 85px; font-size: 14px; padding-top:45px; text-indent: 0.5em; line-height: 20px; text-align: right;}
.houseprice .red{padding-right:5px;font-size: 26px; color:#de3438;}
.ave-price{ font-size: 12px;}

/*分页*/
.paging{margin: 0 auto;width: 375px;}
.paging i,.paging a{ float: left; vertical-align: top; background: #fff; margin-left:2px; color: #3d3d3d; border: 1px solid #ccc;  width: 35px; height: 35px; 
	line-height: 35px;text-align: center; font-size: 14px;}
.paging .iPre{width: 68px; color: #ccc; border: 1px solid #ccc;}
.paging a.iPre{ color: #3d3d3d;}
.paging .curr,.paging a:hover{ color: #63aa02; color: #fff;  background: #ff4400; border: 1px solid #ff4400; font-weight: bold;}
.paging .aDotted{width: 29px; border: 0;}
.paging .aNext{ background: #ff4400; border: 1px solid #ff4400;}
.paging .iNext,.paging .aNext{width: 139px; color: #fff; line-height: 31px;}

.serchR{margin-top:20px;border: 1px solid #e7e7e7; border-radius: 4px; width: 248px; float: right;}
.reco-bdy .a-reco-link{padding:0 19px; height: 245px; display: block;}
.reco-tit{ height: 25px; line-height: 20px; font-size: 16px; color: #666; padding: 10px 0 10px 20px;}
.reco-ad-info{font-size: 14px;margin-top: 8px; line-height: 20px; display: block;}
.reco-ad-info .red{ font-size: 18px; color: #ff6600;}
.a-reco-link .house-state{margin: 5px 0 0 0;}
.a-reco-link .house-state span{margin-right: 8px;}

/*新房*/
.newhouselist {margin-bottom: 10px;}
.newhouselist li img,.houselist .houseli img{ float: left; width: 190px; }
.newhouselist .house-address,.newhouselist .house-other-info{margin:0; line-height: 22px;}
.newhouselist .house-dynamic{margin-top: 8px;}
.newhouselist .house-dynamic .red{ color: #ff7542;margin-right: 10px; font-size: 13px;}
.newhouselist .houseprice{ width: 200px;right: 25px;}
.newhouselist .houseprice .red{ color: #ff6600;}

.newhouselist .house-tel{ position:absolute;top:155px; width: 160px; right: 25px; background: none; font-size: 12px; color: #c5c3c3; text-align: right;}

.newhouse-tit{ padding:0 20px;height: 42px; line-height: 42px; border: 1px solid #ddd;border-top:2px solid #ff7542; font-size: 14px; }