@charset "utf-8";
@import url('block/reset.css');
@import url('block/other.css');
@import url('block/common.css');

.new-house-bdy{margin-bottom:30px;padding:20px;border: 1px solid #eee;border-radius: 4px;}
.new-house-bdy-padno{padding: 0;}
.photoshow{width:525px; float: left;}
.btns-link{ color: #fff; background: #ff7542; text-align:center; display:block;border-radius: 5px;}
.btns-link:hover{color: #fff;}
#bigPic {position:relative;margin-bottom: 20px; width:525px; overflow:hidden; }
#pic_control {margin:0 auto;width:520px; height:75px;}
#pic_control li {margin-right:2px; float:left; width:100px; height:75px; cursor: pointer;border:1px solid #fff;}
#pic_control .current{ border:1px solid #87be33;}
#pic_control li i{ width: 100px; height: 24px; text-align: center; display: block; margin-top:-24px; line-height: 24px; position: relative; color: #fff; background:rgba(0,0,0,0.8);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#CC000000, endColorStr=#CC000000);} 
#pic_control .last{margin-right: 0;}
/*焦点图*/
.b-p-tab{ position: relative; height: 395px;}
.b-p-tab li{ width:525px; }
.b-p-tab .prev,.b-p-tab .next{ width:42px; height:41px; display:block; position:absolute; top:200px; background:url(../images/btn1-png24.png) no-repeat; z-index:99;} 
.b-p-tab .prev{left:10px;}
.b-p-tab .next{right:10px; background-position:-44px 0;}
.b-p-tab .prev:hover{ background-position:0 -43px;}
.b-p-tab .next:hover{ background-position:-44px -43px;}


.detail-txt{width:575px; float: right;}
.d-p-txt1{margin:10px 0 20px;font-size:25px;font-weight: bold; line-height:30px;}
.d-p-txt2{font-size: 12px; color: #ff4400;}
.ev-prices{margin:12px 0;padding:10px 15px; width: 420px; height: 70px; background:#f0efef; }
.ev-prices span{margin-right: 40px; display:inline-block; line-height: 34px;}
.ev-prices .color1{ color: #bab5b5;}
.ev-prices .iNum{ color: #ff4f12; font-size: 26px;}
.d-other-info{position: relative;}
.other-dl{/*margin-bottom: 25px; */width: 287px; float: left;display: inline; color: #161515; line-height: 26px; font-size: 14px;}
.other-dl dt{ width:65px;float: left; color: #bab5b5;}
.other-dl dd .red{ font-size: 30px;}
.other-dl dd .a-link{ display: inline-block;margin-left: 20px; color: #3388b4;}
.other-dl dd .toright{display: inline-block; margin-left: 10px; }
.other-dl dd .toright .lp-icons-open{ margin-right: 5px; display: inline-block; width: 17px; height: 18px; background: url(../images/icon3_1.png) no-repeat -23px -352px; vertical-align: middle;}
.key-word{margin-bottom:20px; }
.key-word span{border: 2px solid #ccc; display: inline-block;padding: 0 3px; line-height: 20px;  margin-right:5px; color: #333; border-radius: 3px; color: #999;}
.key-word .cur{ background: #ccc; color: #fff;}


.detail-tel{margin-bottom: 5px; background: #efeeee;padding:20px 130px 20px 25px;line-height: 35px; height: 35px; overflow:hidden;width:400px; }
.tel-icon{ width: 40px;height: 35px; float: left; background: url(../images/icon3_1.png) no-repeat 0 -265px;}
.tel-txt{ font-size: 26px; color: #ff4f12; padding-left:18px; font-weight:bold;}
.appoint{ width: 75px; height: 30px;line-height: 30px;border-radius: 5px; float: right; }
.p-tips{margin-bottom:20px; font-size: 12px; color: #ff6600;}
.other-dl1{width:420px;}
.other-dl2{position: absolute;top:2px;left:220px;}

.house-d-title{margin:10px 0;border:1px solid #ffe3b8; background:#fff1dc;padding: 0 20px; height: 38px; line-height: 38px; font-size: 16px; color: #e05313; font-weight: bold;}

.new-house-title{padding: 0 10px; height: 40px; line-height: 40px;}
.new-house-title .mark{font-size: 20px;font-weight: bold; float: left;}
.new-house-title .smark{float: right;}
.news-img{float: left; width: 120px; margin-right:10px;}
.news-txt .s-tit{font-weight: bold;}
.news-txt p{text-indent: 2em;}
.news-item{margin-bottom: 15px;}
/*价格趋势*/
.price-hd{ position: relative;}
.lp-icons{display:inline-block;font-size:0;overflow:hidden;vertical-align:middle;background-image:url(../images/icon3_1.png);background-repeat:no-repeat}
.price-mod .price-hd{position:relative}.price-hd .lp-icons{float:left}.price-hd .vs-icon{background-position:-50px 0;width:45px;height:45px;position:absolute;top:16px;left:311px;background-color:#FFF}.price-hd .xin-ico,.price-hd .es-ico{margin:6px 0 0;width:12px;height:12px}.price-hd .xin-ico{background-position:-113px -58px}.price-hd .es-ico{background-position:-138px -58px}.price-hd .home-ico{width:23px;height:23px;background-position:-54px -53px;}.price-hd .hlist{height:87px;border-bottom:1px solid #e6e6e6;background:#f9f9f9;border-radius:5px 5px 0 0}.price-hd .hlist li{float:left;padding-top:16px;height:71px}.price-hd .hlist .self-flat{background:#FFF;width:302px;padding-left:30px;border-radius:5px 0 0;border-right:1px solid #e6e6e6}.price-hd .hlist .vs-xin{width:330px;padding-left:60px}.price-hd .name .lp-icons{margin-right:9px}.price-hd .name h4{color:#999;font-size:16px}.price-hd .cost{margin:11px 0 0}.price-hd .cost .lp-icons{float:none;margin:0 4px 0 10px;width:10px;height:10px}.price-hd .rise-ico{background-position:-54px -174px;vertical-align:0}.price-hd .fall-ico{background-position:-79px -174px}.price-hd .equal-icon{background:url(http://pages.aifcdn.com/img/house/view/viewindex-icons-13.png) no-repeat -394px -65px}.price-hd .cost em{padding-right:6px}.price-hd .cost strong{font-weight:normal;padding-right:2px}.price-hd .cost .value{padding-right:12px;font-size:20px;line-height:20px}.price-hd .cost .ratio{color:#999;font-size:14px}.price-mod .charts{width:1030px;height:250px;margin:30px 0 20px 14px}

.price-mod .charts{/*width:1030px;*/height:250px;margin:30px 0 20px 14px}

.building-situation dt{margin-bottom: 10px; color: #ff7542; font-size: 22px;}
.building-situation dd{margin-bottom:15px;padding-bottom:15px;font-size: 16px; color: #6c6a6a;border-bottom: 1px solid #e8e8e8;}
.building-situation dd p{text-indent: 2em;}
.building-situation dd ul li{width: 557px; float: left; line-height: 28px;}
.building-situation .house-tip{font-size: 18px; color: #6c6a6a; text-align: right;}
.building-situation .model-ul{margin-top: 20px;}
.building-situation .model-ul li{margin-right: 115px; float: left; width: 300px;}
.building-situation .model-ul li p {text-indent: 0em; line-height:24px;}
.building-situation .model-ul li p.fz12{font-size: 12px;}

.check-more-link{margin:10px auto 0; width: 127px; height: 36px; line-height: 36px; }


.building-situation .model-ul li.mr0{margin-right: 0;}

/*---开盘通知--*/
.notice-pop{width: 402px;padding:20px; text-align:left; position: relative; background:#fff; border-radius:5px; display: none; }
.notice-tit{padding:10px 0;font-size: 20px; color: #87aa57; border-bottom: 2px solid #bada90; }
.notice-pop p{font-size: 18px; padding: 20px 0; }

.notice-pop label{font-size: 16px; padding-right: 15px;}
.notice-pop .user-tel{border: 1px solid #ccc; font-size: 16px; padding:5px;}
.notice-pop .btns-link{margin:20px auto 0;width: 130px; height: 38px; font-size: 20px; line-height: 38px;}

.closeBtn{width: 15px; height: 14px; display: block; background: url(../images/icon3_1.png) no-repeat -56px -90px; position: absolute; top:15px;right: 20px;}
.open-house-subscribe{ width: 565px;}
.open-house-subscribe input{ display: inline-block; margin-right: 5px;}

.subscribe-style{margin:0 10px 20px; padding:10px; background: #f3f3f3;}
.subscribe-style label{margin-right: 20px;}