@charset "utf-8";
/* CSS Document */

/*******新闻页面*******/
.news_a_right{
	width:695px;
	height:auto;
	overflow:hidden;}
.news_a_right_title{
	width:695px;
	height:49px;
	border-bottom:1px dotted #BABABA;
	line-height:49px;}
.news_a_right_title_aa{
	width:590px;
	height:49px;
	float:left;
	padding-left:30px;
	text-align:left;
	background:url(../images/aa_05.png) no-repeat;
	background-position:3px 17px;
	color:#333;
	font-size:14px;}
.news_a_right_title_aa a:link,.news_a_right_title_aa a:visited{
	text-decoration:none;
	color:#333;}
.news_a_right_title_aa a:hover{
	color:#666666;
	text-decoration:underline;}
.news_a_right_title_time{
	width:72px;
	height:49px;
	float:left;
	text-align:right;
	color:#a3a3a3;
	font-size:12px;
	padding-right:3px;}	

	
/*新闻正文详细页面*/
.news_right_con{
	width:695px;
	height:auto;
	overflow:hidden;
	padding-bottom:20px;
	border-bottom:1px dotted #BABABA;
	margin-bottom:20px;
	color:#333;
	font-size:12px;
	line-height:22px;
	text-align:left;}
.news_title{
	font-size:20px;
	color:#010101;
	text-align:center;
	line-height:36px;}
.news_zhengwen{
	font-size:12px;
	color:#333px;
	line-height:22px;
	text-align:left;}
.news_updown{
	width:695px;
	height:52px;
	margin-bottom:20px;}
.news_updown_aa{
	width:692px;
	height:26px;
	padding-left:3px;
	line-height:26px;
	font-size:12px;
	color:#333;
	text-align:left;}
.news_updown_aa a:link,.news_updown_aa a:visited{
	color:#333333;
	text-decoration:none;}
.news_updown_aa a:hover{
	color:#000000;
	text-decoration:underline;}