<span class="menu-button am-icon-comments" onclick="go_chat()" id="span_msg_num"></span>
<script type="text/javascript" src="/chat/socket.io.js"></script>
<script type="text/javascript">
var broker_id = '{{$broker_id}}';
var json_data = { "user_id": broker_id, "user_type": 2 };
{literal}
	var socket = io.connect('http://121.40.97.183:4000');
	socket.emit('online', JSON.stringify(json_data));
	socket.on('show-status',function(data){
		console.log('show-status');
	});
	socket.on('receive-message', function (data) {
		var data = JSON.parse(data);
		if(data.count > 0) {
			var html = '<i class="message-number" id="msg_num">' + data.count + '</i>';
			$("#span_msg_num").html(html);
		}
	});
	
    function go_chat() {
    	window.location.href="/b_house/chat_list/" + broker_id;
    }
{/literal}
</script>