<div class="footer">
	<div class="ft-inner">
        <ul class="ul-ft clearfix">
            <li>
                <span class="f-tit">优质房源</span>
                <a href="#" target="_blank">特惠楼盘</a><br />
                <a href="#" target="_blank">品牌地产合作</a><br />
                <a href="#" target="_blank">专业服务团队</a>
            </li>
            <li>
                <span class="f-tit">使用帮助</span>
                <a href="#" target="_blank">帮助中心</a><br />
                <a href="#" target="_blank">注册常见问题</a>
            </li>
            <li>
                <span class="f-tit">特色服务</span>
                <a href="#" target="_blank">房猫独家</a><br />
                <a href="#" target="_blank">优惠楼盘</a>
            </li>
            <li>
                <span class="f-tit f-tit-ewm">房猫微店</span>
                <a href="#" target="_blank"><img src="{{$base_url}}images/erweima.jpg" alt="" width="80" height="87" /></a>
            </li>
            <li>
                <span class="f-tit">联系我们</span>
                <p>客服热线<br />
              <strong class="fz16">0512-36699066</strong><br />（9:00-17:30）国定节假日除外<br />平台合作：<strong class="fz14">0512-36699066</strong></p>
            </li>
        </ul>	
        <div class="copyright clearfix">
        	<a href="" class="f_logo"></a>
            <p class="ftr-p">&copy;2015 Funmall Co., Ltd. All rights reserved. 备案号：苏CP备13003602号-2</p>
        </div>
  </div>
</div>