   <!------------广告start-------------->
	<div class="ivy-1180"><img src="http://dummyimage.com/1180x80/000/fff" alt="" width="1180" height="80" /></div>
   <!------------广告end---------------->
   <!------------头部start-------------->
    <div class="header clearfix">
    	<h1 class="logo">
        	<a href="/" title="房猫">房猫</a>
        </h1>
        <div class="ks">
        	<form action="#" method="get">
            	<div class="ks-select">
                	<span class="item">
                    	<em>新房</em>
                        <i class="trag1"></i>
                    </span>
                    <div class="ks-select-pop hidden">
						<a href="javascript:" value="" target="_self" class="item">新房</a>
                        <a href="javascript:" value="product.shtml" target="_self" class="item current">二手房</a>
                    </div>
                </div>
                <div class="ks-input">
                	<div class="ks-label">
                		<input type="text" name="question" id="question" class="ks-q focus" value="" />
                        <div class="ks-pop hidden">
                        	<ul>
                            	<li><span>10000结果</span>周市</li>
                                <li><span>1300结果</span>陆家镇</li>
                                <li><span>10000结果</span>陆家镇</li>
                                <li><span>10000结果</span>陆家镇</li>
                            </ul>
                        </div>
                    </div>
                    <input type="submit" class="ks-submit" value="搜索" id="btnSearchText" />
                </div>
            </form>
        </div>
    </div>
    <!--------------头部end---------------->
    
<script type="text/javascript">
$(function(){
	//快搜左侧下拉
	$('.ks-select').mouseenter(function(){
		$('.ks-select-pop').show();
	}).mouseleave(function(){
		$('.ks-select-pop').hide();
	});
	$('.ks-select-pop a').click(function(){
		$('.ks-select-pop a').removeClass('current');
		$(this).addClass('current');
		$('.ks-select em').html($(this).html());
	});
});
</script>    