<!--------------头部导航start---------------->
    <div class="gobal-nav">
    	<span class="nav-search"><em>搜索分类</em><i class="trag2 trag1-gray-t"></i></span>
<!--         <ul class="ul-nav">
        	<li><a href="" class="headline"><em></em>头条</a></li>
            <li><a href="" class="housesource"><em></em>房源</a></li>
            <li><a href="" class="housefav"><em></em>房猫惠购</a></li>
            <li><a href="" class="housemedia"><em></em>自媒体</a></li>
        </ul> -->
        <div class="user-info">
        	<em class="login-logo"></em>
        	{{if $member_username}}
        	<a>{{$member_username}}</a>
        	<a href="{{site_url url='login/logout'}}" >退出</a>
        	{{else}}
        	<a href="{{site_url url='login'}}">登录</a>
            <a href="{{site_url url='register'}}" >注册</a>
        	{/if}
        	
        </div>
    </div>
    <!--------------头部导航end---------------->