<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫</title>
<meta name="keywords" content="房猫,昆山" />
<meta name="description" content="" />
<link href="/css/model.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>

</head>
<body>
<div class="wraper">
   {include file="header.html"}
    <!--------------头部end---------------->
    <!--------------头部导航start---------------->
    <div class="gobal-nav">
    	<span class="nav-search"><em>搜索分类</em><i class="trag2 trag1-gray-t"></i></span>
        <ul class="ul-nav">
        	<li><a href="" class="headline"><em></em>头条<!-- <i class="arrow"></i> --></a></li>
            <li class="current"><a href="" class="housesource"><em></em>房源<!-- <i class="arrow"></i> --></a></li>
            <li><a href="" class="housefav"><em></em>房猫惠购</a><!-- <i class="arrow"></i> --></li>
            <li><a href="" class="housemedia"><em></em>自媒体</a><!-- <i class="arrow"></i> --></li>
        </ul>
        <div class="user-info">
        	<em class="login-logo"></em>
        	<a href="" target="_blank">登录</a>
            <a href="" target="_blank">注册</a>
        </div>
    </div>
    <!--------------头部导航end---------------->
   <div class="p_crumbs">
       <form action="/house/new_house_list" method="POST" >
    	<input type="hidden" id="search_region" name="search_region" value="{{$tag['region_id']}}">
    	</form>
        <a href="{{site_url url='house/new_house_list'}}" target="_blank">全部房源</a>&gt;<a href="javascript:$('form').submit();" >{{$tag['region_name']}}</a>&gt;<a href="{{site_url url='house/new_house_detail'}}/{{$tag['id']}}" >{{$tag['name']}}</a>
    </div>
    <div class="door-model">
        <div class="model-tit">
            {{$tag['name']}}
        </div>
        <div class="choose-model">
            <a href="{{site_url url='house/huxing_list'}}/{{$tag['id']}}" {{if $huxing_list['count'] == 'all'}}class="cur"{{/if}}>全部户型（{{$tag['count_huxing']}}）</a>|
            {{foreach from = $rooms item=row key=k}}
            <a href="{{site_url url='house/huxing_list'}}/{{$tag['id']}}/{{$row['room']}}" {{if $huxing_list['count'] == $row['room']}}class="cur"{{/if}}>{{$row['room']}}室户型（{{$row['count']}}）</a>{{if $k+1 lt $rooms|@count}}|{{/if}}
            {{/foreach}}
        </div>
        <div class="model-s-tit">昆城景苑户型</div>
        <ul class="model-ul clearfix">
        	{{foreach from=$huxing_list['res_list'] item=row key=k}}
            <li><a href="/uploadfiles/pics/{{$huxing_list['folder']}}/6/{{$row->pic_short}}" data-lightbox="example-2" data-title="A2户型：2室2厅1卫<br />面积大小：约102.00平米">
                <div class="model-pic"><img src="/uploadfiles/pics/{{$huxing_list['folder']}}/6/{{$row->pic_short}}" alt="" width="300" height="190" /></div>
                <div class="model-ul-txt">
                    {{$row->title}}：{{$row->room}}室{{$row->lounge}}厅{{$row->toilet}}卫<br />面积大小：约{{$row->area}}平米
                </div>
            </a></li>
            {{/foreach}}
        </ul>
        <div class="clearfix">
            <div class="paging">
                {{$pager}}
            </div>
        </div>
    </div>  
</div>
<div class="footer">
	<div class="ft-inner">
        <ul class="ul-ft clearfix">
            <li>
                <span class="f-tit">优质房源</span>
                <a href="#" target="_blank">特惠楼盘</a><br />
                <a href="#" target="_blank">品牌地产合作</a><br />
                <a href="#" target="_blank">专业服务团队</a>
            </li>
            <li>
                <span class="f-tit">使用帮助</span>
                <a href="#" target="_blank">帮助中心</a><br />
                <a href="#" target="_blank">注册常见问题</a>
            </li>
            <li>
                <span class="f-tit">特色服务</span>
                <a href="#" target="_blank">房猫独家</a><br />
                <a href="#" target="_blank">优惠楼盘</a>
            </li>
            <li>
                <span class="f-tit f-tit-ewm">房猫微店</span>
                <a href="#" target="_blank"><img src="images/erweima.jpg" alt="" width="80" height="87" /></a>
            </li>
            <li>
                <span class="f-tit">联系我们</span>
                <p>客服热线<br />
              <strong class="fz16">0512-36699066</strong><br />（9:00-17:30）国定节假日除外<br />平台合作：<strong class="fz14">0512-36699066</strong></p>
            </li>
        </ul>	
        <div class="copyright clearfix">
        	<a href="" class="f_logo"></a>
            <p class="ftr-p">&copy;2015 Funmall Co., Ltd. All rights reserved. 备案号：苏CP备13003602号-2</p>
        </div>
  </div>
</div>
<script type="text/javascript" src="/js/lightbox.js"></script>
<script>
$('.houselist li').mouseenter(function(){
    $('.houselist li').removeClass('over-bg');
    $(this).addClass('over-bg');
}).mouseleave(function(){
    $('.houselist li').removeClass('over-bg');
});
</script>
</body>
</html>
