<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫</title>
<meta name="keywords" content="房猫,昆山" />
<meta name="description" content="" />
<link href="{{$base_url}}css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{$base_url}}js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="{{$base_url}}js/dpl-jquery.slide.js"></script>
<!--
<link href="{{$base_url}}js/layer/skin/layer.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{$base_url}}js/layer/layer.js"></script>
-->
</head>
<body>
<div class="wraper">
   {include file="header.html"}
   
    <!--------------头部导航start---------------->
{include file="header_login.html"}
    <!--------------头部导航end---------------->
    <!--------------首页主体内容start---------------->
    <div class="main clearfix">
    	<div class="index-nav">
        	<ul class="ul-menu">
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-buy"></i><i class="i-menu" style="letter-spacing:0px">买新房</i></div>
                 </li>
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-sell"></i><i class="i-menu" style="letter-spacing:0px">买二手房</i></div>
                </li>
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-lease"></i><i class="i-menu">卖房</i></div>
                </li>
                <li class="last">
                    <div class="category-menu-tit"><i class="i-menu-icon i-renting"></i><i class="i-menu">租房</i></div>
                </li>
            </ul>
            <!----------------买房------------------->
			<div class="category-menu-content">
				<div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_1 item=item}}<a href="javascript:void(0);" onclick="redirect(1,1,1,'{{$item.id}}');" target="_self" style="letter-spacing:1px">{{$item.name}}</a>{{/foreach}}
                    </p>
                    <p class="menu-link menu-link-two">
                    	{{foreach from=$style_list_2 item=item}}<a href="javascript:void(0);" onclick="redirect(1,1,2,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}</p>
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_3 item=item}}<a href="javascript:void(0);" onclick="redirect(1,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
            	<div class="category-menu-line clearfix">
                	<span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_4 item=item}}<a href="javascript:void(0);" onclick="redirect(1,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_5 item=item}}<a href="javascript:void(0);" onclick="redirect(1,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_6 item=item}}<a href="javascript:void(0);" onclick="redirect(1,12,1,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_7 item=item}}<a href="javascript:void(0);" onclick="redirect(1,13,1,'{{$item.id}}');" target="_self" style="letter-spacing:1px">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
			</div>
            <!----------------卖房------------------->
             <div class="category-menu-content">
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_1 item=item}}<a href="javascript:void(0);" onclick="redirect(2,1,1,'{{$item.id}}');" target="_self" style="letter-spacing:1px">{{$item.name}}</a>{{/foreach}}
                    </p>
                    <p class="menu-link menu-link-two">
                    	{{foreach from=$style_list_2 item=item}}<a href="javascript:void(0);" onclick="redirect(2,1,2,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}</p>
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_3 item=item}}<a href="javascript:void(0);" onclick="redirect(2,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
            	<div class="category-menu-line clearfix">
                	<span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_4 item=item}}<a href="javascript:void(0);" onclick="redirect(2,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_5 item=item}}<a href="javascript:void(0);" onclick="redirect(2,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_6 item=item}}<a href="javascript:void(0);" onclick="redirect(2,12,1,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_7 item=item}}<a href="javascript:void(0);" onclick="redirect(2,13,1,'{{$item.id}}');" target="_self" style="letter-spacing:1px">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
            </div>
            <!----------------卖房------------------>
             <div class="category-menu-content">
                <dl class="category-menu-dl">
                    <dt>1</dt>
                    <dd><span>在房猫发房</span><br />简单2步即可完成发布，方便快捷免费！</dd>
                    <dt>2</dt>
                    <dd><span>优质经纪人全程服务</span><br />简单2步即可完成发布，方便快捷免费！</dd>
                    <dt>3</dt>
                    <dd><span>大量买家</span><br />简单2步即可完成发布，方便快捷免费！</dd>
                </dl>
                <a href="javascript:void(0);" class="publish-btn" id="btnPublish"><em></em>免费发布房源</a>
            </div>
             <!----------------租房------------------->
             <div class="category-menu-content">
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_1 item=item}}<a href="javascript:void(0);" onclick="redirect(3,1,1,'{{$item.id}}');" target="_self" style="letter-spacing:1px">{{$item.name}}</a>{{/foreach}}
                    </p>
                    <p class="menu-link menu-link-two">
                    	{{foreach from=$style_list_2 item=item}}<a href="javascript:void(0);" onclick="redirect(3,1,2,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}</p>
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_3 item=item}}<a href="javascript:void(0);" onclick="redirect(3,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
            	<div class="category-menu-line clearfix">
                	<span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_4 item=item}}<a href="javascript:void(0);" onclick="redirect(3,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_5 item=item}}<a href="javascript:void(0);" onclick="redirect(3,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_6 item=item}}<a href="javascript:void(0);" onclick="redirect(3,12,1,'{{$item.id}}');" target="_self">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_7 item=item}}<a href="javascript:void(0);" onclick="redirect(3,13,1,'{{$item.id}}');" target="_self" style="letter-spacing:1px">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
            </div>
	</div>	
<div class="lay965">
             <div class="focus-news">
                <div class="focusPic focusPic1">
                     <div id="slide01" class="tab">
                        <a href="javascript:void(0)" class="prev" onClick="focusPic1.prev()" ></a>
                        <a href="javascript:void(0)" class="next" onClick="focusPic1.next()"></a> 
                         <ul>
                         {{foreach from=$news1 item=row}}
                         <li><a href="{{site_url url='house/article_detail'}}/{{$row.xq_id}}/{{$row.id}}/1" target="_blank"><img src="/uploadfiles/news/{{$row.pic}}" width="515" height="280" /></a></li>
                         {{/foreach}}
                         </ul>
                    </div>
                     <div class="control" id ="slide01_control">
                     	 {{foreach from=$news1 item=row}}
                         <i class="toc"></i>
                         {{/foreach}}
                     </div>
                </div>
                <div class="focusPic focusPic2">
                     <div id="slide02" class="tab">
                        <a href="javascript:void(0)" class="prev" onClick="focusPic2.prev()" ></a>
                        <a href="javascript:void(0)" class="next" onClick="focusPic2.next()"></a> 
                         <div class="slide">
                         	<ul class="pics">
                         	{{foreach from=$news2 item=row key=k}}
	                         	{{if $k==0 or $k ==4 or $k==8 }}
	                         	<li>
	                         	<a href="{{site_url url='house/article_detail'}}/{{$row.xq_id}}/{{$row.id}}/1" target="_blank" class="aPic aPicW128"><img src="/uploadfiles/news/{{$row.pic}}" width="128" height="195" /><i class="iTit"><em class="fz14">{{$row.title}}</em><br />{{$row.title2}}</i></a>
                         	    {{else if $k==3 or $k ==7 or $k==11 }}
                         	    <a href="{{site_url url='house/article_detail'}}/{{$row.xq_id}}/{{$row.id}}/1" target="_blank" class="aPic aPicW128"><img src="/uploadfiles/news/{{$row.pic}}" width="128" height="195" /><i class="iTit"><em class="fz14">{{$row.title}}</em><br />{{$row.title2}}</i></a>
                         	    </li>
                         	    {{else}}
                         	    <a href="{{site_url url='house/article_detail'}}/{{$row.xq_id}}/{{$row.id}}/1" target="_blank" class="aPic aPicW128"><img src="/uploadfiles/news/{{$row.pic}}" width="128" height="195" /><i class="iTit"><em class="fz14">{{$row.title}}</em><br />{{$row.title2}}</i></a>
                         	    {{/if}}
                                
                            {{/foreach}}
                           </ul>
                        </div>
                    </div>
                </div>
             </div>  
             <div class="newsPic">
             	<div class="newPic-top clearfix">
             		<a href="{{site_url url='house/article_detail'}}/{{$news3.xq_id}}/{{$news3.id}}/1" target="_blank" class="aWid170"><img src="/uploadfiles/news/{{$news3.pic}}" width="170" height="280" /></a>
                    <div class="hotGuide">
                        <div class="guideTxt">
                            <span class="guide-tit"><a href="" target="_blank">《昆山楼市》杂志6-7刊抢先看&gt;</a></span>
                            <p class="guide-link"><a href="" target="_blank">市场行情</a><a href="" target="_blank">特别策划</a><a href="" target="_blank">名盘鉴赏</a><br /><a href="" target="_blank">楼市前线</a><a href="" target="_blank">楼相百态</a><a href="" target="_blank">独家调查</a></p>
                        </div>
                    	<a href="{{site_url url='house/article_detail'}}/{{$news5.0.xq_id}}/{{$news5.0.id}}/1" target="_blank" class="aPic aPicW270"><img src="/uploadfiles/news/{{$news5.0.pic}}" width="270" height="190" /><i class="iTit"><em class="fz20">{{$news5.0.title}}</em><br />{{$news5.0.title2}}</i></a>
                    </div>
                </div>
                <div class="newPic-btm clearfix">
                	<a href="{{site_url url='house/article_detail'}}/{{$news4.xq_id}}/{{$news4.id}}/1" target="_blank" class="aWid170"><img src="/uploadfiles/news/{{$news4.pic}}" width="170" height="195" /></a>
                    <a href="{{site_url url='house/article_detail'}}/{{$news5.1.xq_id}}/{{$news5.1.id}}/1" target="_blank" class="aPic aPicW270"><img src="/uploadfiles/news/{{$news5.1.pic}}" width="270" height="195" />
                    <i class="iTit"><em class="fz20">{{$news5.1.title}}</em><br />{{$news5.1.title2}}</i></a>
                </div>
             </div>      
        </div>
    </div>
</div>
{include file="footer.html"}

<script>
$(function(){
	//左侧搜索分类
	$('.index-nav li').mouseenter(function(){
		var ind = $(this).index();
		$('.index-nav li').removeClass('current');
		$('.category-menu-content').hide();
		$(this).addClass('current');
		$('.category-menu-content').eq(ind).show();
	})
	$('.index-nav').mouseleave(function(){
		$('.index-nav li').removeClass('current');
		$('.category-menu-content').hide();
	});
	//焦点图切换
	window.focusPic1 = new Slide({
		target: $( '#slide01 li' ),
		control: $( '#slide01_control i' ),
		effect: 'slide',
		stay:3000,
		autoPlay:true
  	});
 	window.focusPic2 = new Slide.scroll({
		target: $( '#slide02 .slide li' ),
		width: 516,
		autoPlay: true
	});
   	$('.focusPic').mouseenter(function(){
	   	$(this).addClass('slide-pic-hover');
   	}).mouseleave(function(){
	   	$('.focusPic').removeClass('slide-pic-hover');
	});
   	
   	$("#btnPublish").click(function() {
   		document.location="/house/publish";
   	});
});

function redirect(t, s, k, v) {
	$("#search_text").val("");
	$("#search_region").val("");
	$("#search_type").val("");
	$("#search_acreage").val("");
	$("#search_style").val(s);
	if(s == 1) {
		if(k == 1) {
			$("#search_region").val(v);
		} else {
			$("#search_type").val(v);
		}
	} else if(s == 12) {
		$("#search_acreage").val(v);
	} else if(k == 13) {
		$("#search_region").val(v);
	}
	if(t == 1) {
		$("#searchHouseForm").attr('action', '/house/new_house_list');
	} else if(t == 2) {
		$("#searchHouseForm").attr('action', '/house/second_hand_list');
	} else {
		$("#searchHouseForm").attr('action', '/house/rent_house_list');
	}
	$("#searchHouseForm").submit();
}
</script>
</body>
</html>
