<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫</title>
<meta name="keywords" content="房猫,昆山" />
<meta name="description" content="" />
<link href="{{$base_url}}css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wraper">
   <!------------广告start-------------->
	<div class="ivy-1180"><img src="http://dummyimage.com/1180x80/000/fff" alt="" width="1180" height="80" /></div>
   <!------------广告end---------------->
   <!------------头部start-------------->
    <div class="header clearfix">
    	<h1 class="logo">
        	<a href="" title="房猫">房猫</a>
        </h1>
        <div class="ks">
        	<form action="#" method="get">
            	<div class="ks-select">
                	<span class="item">
                    	<em>新房</em>
                        <i class="trag1"></i>
                    </span>
                    <div class="ks-select-pop hidden">
						<a href="javascript:" value="" target="_self" class="item">新房</a>
                        <a href="javascript:" value="product.shtml" target="_self" class="item current">二手房</a>
                        <a href="javascript:" value="download.shtml" target="_self" class="item">学区房</a>
                        <a href="javascript:" value="cms.shtml" target="_self" class="item">学区房</a>
                        <a href="javascript:" value="photo.shtml" target="_self" class="item">学区房</a>
                        <a href="javascript:" value="bbs.shtml" target="_self" class="item">学区房</a>
                    </div>
                </div>
                <div class="ks-input">
                	<div class="ks-label">
                		<input type="text" name="question" class="ks-q focus" value="" />
                        <div class="ks-pop hidden">
                        	<ul>
                            	<li><span>10000结果</span>周市</li>
                                <li><span>1300结果</span>陆家镇</li>
                                <li><span>10000结果</span>陆家镇</li>
                                <li><span>10000结果</span>陆家镇</li>
                            </ul>
                        </div>
                    </div>
                    <input type="submit" class="ks-submit" value="搜索" />
                </div>
            </form>
        </div>
    </div>
    <!--------------头部end---------------->
    <!--------------头部导航start---------------->
    <div class="gobal-nav">
    	<span class="nav-search"><em>搜索分类</em><i class="trag2 trag1-gray-t"></i></span>
        <ul class="ul-nav">
        	<li><a href="" class="headline"><em></em>头条</a></li>
            <li><a href="" class="housesource"><em></em>房源</a></li>
            <li><a href="" class="housefav"><em></em>房猫惠购</a></li>
            <li><a href="" class="housemedia"><em></em>自媒体</a></li>
        </ul>
        <div class="user-info">
        	<em class="login-logo"></em>
        	<a href="" target="_blank">登录</a>
            <a href="" target="_blank">注册</a>
        </div>
    </div>
    <!--------------头部导航end---------------->
    <!--------------首页主体内容start---------------->
    <div class="main clearfix">
    	<div class="index-nav">
        	<ul class="ul-menu">
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-buy"></i><i class="i-menu">买房</i></div>
                    
                 </li>
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-sell"></i><i class="i-menu">卖房</i></div>
                     
                </li>
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-lease"></i><i class="i-menu">出租</i></div>
                    
                </li>
                <li class="last">
                    <div class="category-menu-tit"><i class="i-menu-icon i-renting"></i><i class="i-menu">租房</i></div>
                   
                </li>
            </ul>
            <!----------------买房------------------->
			<div class="category-menu-content">
            	<div class="category-menu-line clearfix">
                	<span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link"><a href="" target="_blank">独栋</a><a href="" target="_blank">联排</a><a href="" target="_blank">双拼</a><a href="" target="_blank">叠加</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                    <p class="menu-link menu-link-two"><a href="" target="_blank">一室</a><a href="" target="_blank">二室</a><a href="" target="_blank">三室</a><a href="" target="_blank">四室</a><a href="" target="_blank">五室</a><a href="" target="_blank">五室以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link"><a href="" target="_blank">普通公寓 </a><a href="" target="_blank">商务公寓</a><a href="" target="_blank">双拼</a><a href="" target="_blank">酒店式公寓</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link"><a href="" target="_blank">单纯性</a><a href="" target="_blank">商住型</a><a href="" target="_blank">双拼</a><a href="" target="_blank">综合性</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link"><a href="" target="_blank">30㎡以下</a><a href="" target="_blank">30-90㎡</a><a href="" target="_blank"> 90-180㎡</a><a href="" target="_blank">180㎡以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                </div>
			</div>
            <!----------------卖房------------------->
             <div class="category-menu-content">
                <div class="category-menu-line clearfix">
                    <div class="category-menu-line clearfix">
                        <span class="category-menu-line-tit">厂房</span>
                        <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                    </div>
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                    <p class="menu-link menu-link-two"><a href="" target="_blank">一室</a><a href="" target="_blank">二室</a><a href="" target="_blank">三室</a><a href="" target="_blank">四室</a><a href="" target="_blank">五室</a><a href="" target="_blank">五室以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link"><a href="" target="_blank">独栋</a><a href="" target="_blank">联排</a><a href="" target="_blank">双拼</a><a href="" target="_blank">叠加</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link"><a href="" target="_blank">普通公寓 </a><a href="" target="_blank">商务公寓</a><a href="" target="_blank">双拼</a><a href="" target="_blank">酒店式公寓</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link"><a href="" target="_blank">单纯性</a><a href="" target="_blank">商住型</a><a href="" target="_blank">双拼</a><a href="" target="_blank">综合性</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link"><a href="" target="_blank">30㎡以下</a><a href="" target="_blank">30-90㎡</a><a href="" target="_blank"> 90-180㎡</a><a href="" target="_blank">180㎡以上</a></p>
                </div>
            </div>
            <!----------------出租------------------->
             <div class="category-menu-content">
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link"><a href="" target="_blank">普通公寓 </a><a href="" target="_blank">商务公寓</a><a href="" target="_blank">双拼</a><a href="" target="_blank">酒店式公寓</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                    <p class="menu-link menu-link-two"><a href="" target="_blank">一室</a><a href="" target="_blank">二室</a><a href="" target="_blank">三室</a><a href="" target="_blank">四室</a><a href="" target="_blank">五室</a><a href="" target="_blank">五室以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link"><a href="" target="_blank">独栋</a><a href="" target="_blank">联排</a><a href="" target="_blank">双拼</a><a href="" target="_blank">叠加</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link"><a href="" target="_blank">单纯性</a><a href="" target="_blank">商住型</a><a href="" target="_blank">双拼</a><a href="" target="_blank">综合性</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link"><a href="" target="_blank">30㎡以下</a><a href="" target="_blank">30-90㎡</a><a href="" target="_blank"> 90-180㎡</a><a href="" target="_blank">180㎡以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                </div>
            </div>
             <!----------------租房------------------->
             <div class="category-menu-content">
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link"><a href="" target="_blank">单纯性</a><a href="" target="_blank">商住型</a><a href="" target="_blank">双拼</a><a href="" target="_blank">综合性</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                    <p class="menu-link menu-link-two"><a href="" target="_blank">一室</a><a href="" target="_blank">二室</a><a href="" target="_blank">三室</a><a href="" target="_blank">四室</a><a href="" target="_blank">五室</a><a href="" target="_blank">五室以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link"><a href="" target="_blank">独栋</a><a href="" target="_blank">联排</a><a href="" target="_blank">双拼</a><a href="" target="_blank">叠加</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link"><a href="" target="_blank">普通公寓 </a><a href="" target="_blank">商务公寓</a><a href="" target="_blank">双拼</a><a href="" target="_blank">酒店式公寓</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link"><a href="" target="_blank">30㎡以下</a><a href="" target="_blank">30-90㎡</a><a href="" target="_blank"> 90-180㎡</a><a href="" target="_blank">180㎡以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                </div>
            </div>
	</div>	
<div class="lay965">
             <div class="focus-news">
                <div class="focusPic focusPic1">
                     <div id="slide01" class="tab">
                        <a href="javascript:void(0)" class="prev" onClick="focusPic1.prev()" ></a>
                        <a href="javascript:void(0)" class="next" onClick="focusPic1.next()"></a> 
                         <ul>
                            <li style="display:block"><a href="" target="_blank"><img src="http://dummyimage.com/515x280/000/fff" width="515" height="280" /></a></li>
                            <li><a href="" target="_blank"><img src="http://dummyimage.com/515x280/000/fff" width="515" height="280" /></a></li>
                            <li><a href="" target="_blank"><img src="http://dummyimage.com/515x280/000/fff" width="515" height="280" /></a></li>
                            <li><a href="" target="_blank"><img src="http://dummyimage.com/515x280/000/fff" width="515" height="280" /></a></li>
                            <li><a href="" target="_blank"><img src="http://dummyimage.com/515x280/000/fff" width="515" height="280" /></a></li>
                         </ul>
                    </div>
                     <div class="control" id ="slide01_control">
                        <i class="toc"></i>
                        <i class="toc"></i>
                        <i class="toc"></i>
                        <i class="toc"></i>
                        <i class="toc"></i>
                     </div>
                </div>
                <div class="focusPic focusPic2">
                     <div id="slide02" class="tab">
                        <a href="javascript:void(0)" class="prev" onClick="focusPic2.prev()" ></a>
                        <a href="javascript:void(0)" class="next" onClick="focusPic2.next()"></a> 
                         <div class="slide">
                         	<ul class="pics">
                                <li style="display:block">
                                    <a href="" target="_blank" class="aPic aPicW128"><img src="http://dummyimage.com/128x195/000/fff" width="128" height="195" /><i class="iTit"><em class="fz14">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                                    <a href="" target="_blank" class="aPic aPicW128"><img src="http://dummyimage.com/128x195/000/fff" width="128" height="195" /><i class="iTit"><em class="fz14">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                                    <a href="" target="_blank" class="aPic aPicW128"><img src="http://dummyimage.com/128x195/000/fff" width="128" height="195" /><i class="iTit"><em class="fz14">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                                    <a href="" target="_blank" class="aPic aPicW128" style="margin-right:0;"><img src="http://dummyimage.com/128x195/000/fff" width="128" height="195" /><i class="iTit"><em class="fz14">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                               </li>
                               <li>
                                    <a href="" target="_blank" class="aPic aPicW128"><img src="http://dummyimage.com/128x195/000/fff" width="128" height="195" /><i class="iTit"><em class="fz14">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                                    <a href="" target="_blank" class="aPic aPicW128"><img src="http://dummyimage.com/128x195/000/fff" width="128" height="195" /><i class="iTit"><em class="fz14">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                                    <a href="" target="_blank" class="aPic aPicW128"><img src="http://dummyimage.com/128x195/000/fff" width="128" height="195" /><i class="iTit"><em class="fz14">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                                    <a href="" target="_blank" class="aPic aPicW128" style="margin-right:0;"><img src="http://dummyimage.com/128x195/000/fff" width="128" height="195" /><i class="iTit"><em class="fz14">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                               </li>
                           </ul>
                        </div>
                    </div>
                </div>
             </div>  
             <div class="newsPic">
             	<div class="newPic-top clearfix">
             		<a href="" target="_blank" class="aWid170"><img src="http://dummyimage.com/170x280/000/fff" width="170" height="280" /></a>
                    <div class="hotGuide">
                        <div class="guideTxt">
                            <span class="guide-tit"><a href="" target="_blank">《昆山楼市》杂志6-7刊抢先看&gt;</a></span>
                            <p class="guide-link"><a href="" target="_blank">市场行情</a><a href="" target="_blank">特别策划</a><a href="" target="_blank">名盘鉴赏</a><br /><a href="" target="_blank">楼市前线</a><a href="" target="_blank">楼相百态</a><a href="" target="_blank">独家调查</a></p>
                        </div>
                    	<a href="" target="_blank" class="aPic aPicW270"><img src="http://dummyimage.com/270x190/ccc/fff" width="270" height="190" /><i class="iTit"><em class="fz20">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                    </div>
                </div>
                <div class="newPic-btm clearfix">
                	<a href="" target="_blank" class="aWid170"><img src="http://dummyimage.com/170x195/000/fff" width="170" height="195" /></a>
                    <a href="" target="_blank" class="aPic aPicW270"><img src="http://dummyimage.com/270x190/ccc/fff" width="270" height="195" /><i class="iTit"><em class="fz20">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                </div>
             </div>      
        </div>
    </div>
</div>
<div class="footer">
	<div class="ft-inner">
        <ul class="ul-ft clearfix">
            <li>
                <span class="f-tit">优质房源</span>
                <a href="#" target="_blank">特惠楼盘</a><br />
                <a href="#" target="_blank">品牌地产合作</a><br />
                <a href="#" target="_blank">专业服务团队</a>
            </li>
            <li>
                <span class="f-tit">使用帮助</span>
                <a href="#" target="_blank">帮助中心</a><br />
                <a href="#" target="_blank">注册常见问题</a>
            </li>
            <li>
                <span class="f-tit">特色服务</span>
                <a href="#" target="_blank">房猫独家</a><br />
                <a href="#" target="_blank">优惠楼盘</a>
            </li>
            <li>
                <span class="f-tit f-tit-ewm">房猫微店</span>
                <a href="#" target="_blank"><img src="images/erweima.jpg" alt="" width="80" height="87" /></a>
            </li>
            <li>
                <span class="f-tit">联系我们</span>
                <p>客服热线<br />
              <strong class="fz16">0512-36699066</strong><br />（9:00-17:30）国定节假日除外<br />平台合作：<strong class="fz14">0512-36699066</strong></p>
            </li>
        </ul>	
        <div class="copyright clearfix">
        	<a href="" class="f_logo"></a>
            <p class="ftr-p">&copy;2015 Funmall Co., Ltd. All rights reserved. 备案号：苏CP备13003602号-2</p>
        </div>
  </div>
</div>
<script type="text/javascript" src="{{$base_url}}js/jquery-1.8.3.min.js" ></script>
<script src="http://js.3conline.com/min/temp/v1/dpl-jquery.slide.js"></script>
<script>
$(function(){
	//快搜左侧下拉
	$('.ks-select').mouseenter(function(){
		$('.ks-select-pop').show();
	}).mouseleave(function(){
		$('.ks-select-pop').hide();
	});
	$('.ks-select-pop a').click(function(){
		$('.ks-select-pop a').removeClass('current');
		$(this).addClass('current');
		$('.ks-select em').html($(this).html());
	});
	//左侧搜索分类
	$('.index-nav li').mouseenter(function(){
		var ind = $(this).index();
		$('.index-nav li').removeClass('current');
		$('.category-menu-content').hide();
		$(this).addClass('current');
		$('.category-menu-content').eq(ind).show();
	})
	$('.index-nav').mouseleave(function(){
		$('.index-nav li').removeClass('current');
		$('.category-menu-content').hide();
	});
	//焦点图切换
	window.focusPic1 = new Slide({
		target: $( '#slide01 li' ),
		control: $( '#slide01_control i' ),
		effect: 'slide',
		stay:3000,
		autoPlay:true
  	});
 	window.focusPic2 = new Slide.scroll({
		target: $( '#slide02 .slide li' ),
		width: 515,
		autoPlay: true
	});
   	$('.focusPic').mouseenter(function(){
	   	$(this).addClass('slide-pic-hover');
   	}).mouseleave(function(){
	   	$('.focusPic').removeClass('slide-pic-hover');
	});
});
</script>
</body>
</html>
