<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫</title>
<meta name="keywords" content="房猫,昆山" />
<meta name="description" content="" />
<link href="{{$base_url}}css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{$base_url}}js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="{{$base_url}}js/dpl-jquery.slide.js"></script>
</head>
<body>
<div class="wraper">
   {include file="header.html"}
   
    <!--------------头部导航start---------------->
    <div class="gobal-nav">
    	<span class="nav-search"><em>搜索分类</em><i class="trag2 trag1-gray-t"></i></span>
        <ul class="ul-nav">
        	<li><a href="" class="headline"><em></em>头条</a></li>
            <li><a href="" class="housesource"><em></em>房源</a></li>
            <li><a href="" class="housefav"><em></em>房猫惠购</a></li>
            <li><a href="" class="housemedia"><em></em>自媒体</a></li>
        </ul>
        <div class="user-info">
        	<em class="login-logo"></em>
        	<a href="" target="_blank">登录</a>
            <a href="" target="_blank">注册</a>
        </div>
    </div>
    <!--------------头部导航end---------------->
    <!--------------首页主体内容start---------------->
    <div class="main clearfix">
    	<div class="index-nav">
        	<ul class="ul-menu">
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-buy"></i><i class="i-menu" style="letter-spacing:0px">买新房</i></div>
                 </li>
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-sell"></i><i class="i-menu" style="letter-spacing:0px">买二手房</i></div>
                </li>
                <li>
                    <div class="category-menu-tit"><i class="i-menu-icon i-lease"></i><i class="i-menu">卖房</i></div>
                </li>
                <li class="last">
                    <div class="category-menu-tit"><i class="i-menu-icon i-renting"></i><i class="i-menu">租房</i></div>
                </li>
            </ul>
            <!----------------买房------------------->
			<div class="category-menu-content">
				<div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_1 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                    <p class="menu-link menu-link-two">
                    	{{foreach from=$style_list_2 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}</p>
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_3 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
            	<div class="category-menu-line clearfix">
                	<span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_4 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_5 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_6 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_7 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
			</div>
            <!----------------卖房------------------->
             <div class="category-menu-content">
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_1 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                    <p class="menu-link menu-link-two">
                    	{{foreach from=$style_list_2 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}</p>
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_3 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
            	<div class="category-menu-line clearfix">
                	<span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_4 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_5 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_6 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link">
                    	{{foreach from=$style_list_7 item=item}}<a href="" target="_blank">{{$item.name}}</a>{{/foreach}}
                    </p>
                </div>
            </div>
            <!----------------出租------------------->
             <div class="category-menu-content">
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link"><a href="" target="_blank">普通公寓 </a><a href="" target="_blank">商务公寓</a><a href="" target="_blank">双拼</a><a href="" target="_blank">酒店式公寓</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                    <p class="menu-link menu-link-two"><a href="" target="_blank">一室</a><a href="" target="_blank">二室</a><a href="" target="_blank">三室</a><a href="" target="_blank">四室</a><a href="" target="_blank">五室</a><a href="" target="_blank">五室以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link"><a href="" target="_blank">独栋</a><a href="" target="_blank">联排</a><a href="" target="_blank">双拼</a><a href="" target="_blank">叠加</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link"><a href="" target="_blank">单纯性</a><a href="" target="_blank">商住型</a><a href="" target="_blank">双拼</a><a href="" target="_blank">综合性</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link"><a href="" target="_blank">30㎡以下</a><a href="" target="_blank">30-90㎡</a><a href="" target="_blank"> 90-180㎡</a><a href="" target="_blank">180㎡以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                </div>
            </div>
             <!----------------租房------------------->
             <div class="category-menu-content">
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">写字楼</span>
                    <p class="menu-link"><a href="" target="_blank">单纯性</a><a href="" target="_blank">商住型</a><a href="" target="_blank">双拼</a><a href="" target="_blank">综合性</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">住宅</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                    <p class="menu-link menu-link-two"><a href="" target="_blank">一室</a><a href="" target="_blank">二室</a><a href="" target="_blank">三室</a><a href="" target="_blank">四室</a><a href="" target="_blank">五室</a><a href="" target="_blank">五室以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">别墅</span>
                    <p class="menu-link"><a href="" target="_blank">独栋</a><a href="" target="_blank">联排</a><a href="" target="_blank">双拼</a><a href="" target="_blank">叠加</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">公寓</span>
                    <p class="menu-link"><a href="" target="_blank">普通公寓 </a><a href="" target="_blank">商务公寓</a><a href="" target="_blank">双拼</a><a href="" target="_blank">酒店式公寓</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">商铺</span>
                    <p class="menu-link"><a href="" target="_blank">30㎡以下</a><a href="" target="_blank">30-90㎡</a><a href="" target="_blank"> 90-180㎡</a><a href="" target="_blank">180㎡以上</a></p>
                </div>
                <div class="category-menu-line clearfix">
                    <span class="category-menu-line-tit">厂房</span>
                    <p class="menu-link"><a href="" target="_blank">玉山</a><a href="" target="_blank">周市</a><a href="" target="_blank">巴城</a><a href="" target="_blank">张浦</a><a href="" target="_blank">陆家</a><a href="" target="_blank">花桥</a><a href="" target="_blank">千灯</a><a href="" target="_blank">周庄</a><br /><a href="" target="_blank">锦溪</a><a href="" target="_blank">淀山湖</a></p>
                </div>
            </div>
	</div>	
<div class="lay965">
             <div class="focus-news">
                <div class="focusPic focusPic1">
                     <div id="slide01" class="tab">
                        <a href="javascript:void(0)" class="prev" onClick="focusPic1.prev()" ></a>
                        <a href="javascript:void(0)" class="next" onClick="focusPic1.next()"></a> 
                         <ul>
                         {{foreach from=$news1 item=row}}
                         <li><a href="#" target="_blank"><img src="/uploadfiles/news/{{$row.pic}}" width="515" height="280" /></a></li>
                         {{/foreach}}
                         </ul>
                    </div>
                     <div class="control" id ="slide01_control">
                     	 {{foreach from=$news1 item=row}}
                         <i class="toc"></i>
                         {{/foreach}}
                     </div>
                </div>
                <div class="focusPic focusPic2">
                     <div id="slide02" class="tab">
                        <a href="javascript:void(0)" class="prev" onClick="focusPic2.prev()" ></a>
                        <a href="javascript:void(0)" class="next" onClick="focusPic2.next()"></a> 
                         <div class="slide">
                         	<ul class="pics">
                         	{{foreach from=$news2 item=row key=k}}
	                         	{{if $k==0 or $k ==4 or $k==8 }}
	                         	<li>
	                         	<a href="#" target="_blank" class="aPic aPicW128"><img src="/uploadfiles/news/{{$row.pic}}" width="128" height="195" /><i class="iTit"><em class="fz14">{{$row.title}}</em><br />{{$row.title2}}</i></a>
                         	    {{else if $k==3 or $k ==7 or $k==11 }}
                         	    <a href="#" target="_blank" class="aPic aPicW128"><img src="/uploadfiles/news/{{$row.pic}}" width="128" height="195" /><i class="iTit"><em class="fz14">{{$row.title}}</em><br />{{$row.title2}}</i></a>
                         	    </li>
                         	    {{else}}
                         	    <a href="#" target="_blank" class="aPic aPicW128"><img src="/uploadfiles/news/{{$row.pic}}" width="128" height="195" /><i class="iTit"><em class="fz14">{{$row.title}}</em><br />{{$row.title2}}</i></a>
                         	    {{/if}}
                                
                            {{/foreach}}
                           </ul>
                        </div>
                    </div>
                </div>
             </div>  
             <div class="newsPic">
             	<div class="newPic-top clearfix">
             		<a href="" target="_blank" class="aWid170"><img src="/uploadfiles/news/{{$news3.pic}}" width="170" height="280" /></a>
                    <div class="hotGuide">
                        <div class="guideTxt">
                            <span class="guide-tit"><a href="" target="_blank">《昆山楼市》杂志6-7刊抢先看&gt;</a></span>
                            <p class="guide-link"><a href="" target="_blank">市场行情</a><a href="" target="_blank">特别策划</a><a href="" target="_blank">名盘鉴赏</a><br /><a href="" target="_blank">楼市前线</a><a href="" target="_blank">楼相百态</a><a href="" target="_blank">独家调查</a></p>
                        </div>
                    	<a href="" target="_blank" class="aPic aPicW270"><img src="/uploadfiles/news/{{$news3.pic}}" width="270" height="190" /><i class="iTit"><em class="fz20">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                    </div>
                </div>
                <div class="newPic-btm clearfix">
                	<a href="" target="_blank" class="aWid170"><img src="/uploadfiles/news/{{$news3.pic}}" width="170" height="195" /></a>
                    <a href="" target="_blank" class="aPic aPicW270"><img src="/uploadfiles/news/{{$news3.pic}}" width="270" height="195" /><i class="iTit"><em class="fz20">街区商铺59万起</em><br />吃货天堂-昆城广场</i></a>
                </div>
             </div>      
        </div>
    </div>
</div>
{include file="footer.html"}
<form action="/house/second_hand_list" method="POST" id="funmall_index_form">
	<input type="hidden" id="search_text" name="search_text" value="{{$search_text|default:''}}">
</form>
<script>
$(function(){
	//左侧搜索分类
	$('.index-nav li').mouseenter(function(){
		var ind = $(this).index();
		$('.index-nav li').removeClass('current');
		$('.category-menu-content').hide();
		$(this).addClass('current');
		$('.category-menu-content').eq(ind).show();
	})
	$('.index-nav').mouseleave(function(){
		$('.index-nav li').removeClass('current');
		$('.category-menu-content').hide();
	});
	//焦点图切换
	window.focusPic1 = new Slide({
		target: $( '#slide01 li' ),
		control: $( '#slide01_control i' ),
		effect: 'slide',
		stay:3000,
		autoPlay:true
  	});
 	window.focusPic2 = new Slide.scroll({
		target: $( '#slide02 .slide li' ),
		width: 516,
		autoPlay: true
	});
   	$('.focusPic').mouseenter(function(){
	   	$(this).addClass('slide-pic-hover');
   	}).mouseleave(function(){
	   	$('.focusPic').removeClass('slide-pic-hover');
	});
   	
   	$("#btnSearchText").click(function(event) {
		event.preventDefault();
		$("#search_text").val($("#question").val());
		if($(".ks-select-pop").find(".current").text() == "二手房") {
			$("#funmall_index_form").attr('action', '/house/second_hand_list');
		} else {
			$("#funmall_index_form").attr('action', '/house/new_house_list');
		}
		$("#funmall_index_form").submit();
	});
});
</script>
</body>
</html>
