<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫</title>
<meta name="keywords" content="房猫,昆山" />
<meta name="description" content="" />
<link href="/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wraper" id="login">
   <!------------头部start-------------->
    <div class="header clearfix">
    	<h1 class="logo">
        	<a href="/" title="房猫">房猫</a>
        </h1>
        <span class="wel-login-txt">欢迎登录</span>
    </div>
    <!--------------头部end---------------->
    <div class="login-main clearfix">
       <img src="/images/login_bg.jpg" alt="" width="750" height="340" class="fl" />
       <div class="login-content">
          <span class="login-head">用户登录</span>
          <form method="post" action="{{site_url url='login/check_login'}}">
              <div class="input-box">
                <i class="user-icon-name"></i>
                <input class="account-name" type="text" placeholder="手机号/会员名/邮箱" name="username"/> <!-- error-bor -->
                <div class="error-tip">! 请输入手机号/会员名/邮箱</div>
              </div>
              <div class="input-box">
                <i class="user-icon-pwd"></i>
                <input class="account-pwd" type="text"  placeholder="密码" name="password" />
              </div>
              <p class="account-other"><a href="" class="mr80">忘记登录密码？</a><a href="{{site_url url='register'}}">免费注册</a></p>
              <input type="submit" class="sub-btn" value="登录" />
          </form>
       </div>
    </div>
    
</div>
<div class="footer">
	<div class="ft-inner">
        <ul class="ul-ft clearfix">
            <li>
                <span class="f-tit">优质房源</span>
                <a href="#" target="_blank">特惠楼盘</a><br />
                <a href="#" target="_blank">品牌地产合作</a><br />
                <a href="#" target="_blank">专业服务团队</a>
            </li>
            <li>
                <span class="f-tit">使用帮助</span>
                <a href="#" target="_blank">帮助中心</a><br />
                <a href="#" target="_blank">注册常见问题</a>
            </li>
            <li>
                <span class="f-tit">特色服务</span>
                <a href="#" target="_blank">房猫独家</a><br />
                <a href="#" target="_blank">优惠楼盘</a>
            </li>
            <li>
                <span class="f-tit f-tit-ewm">房猫微店</span>
                <a href="#" target="_blank"><img src="/images/erweima.jpg" alt="" width="80" height="87" /></a>
            </li>
            <li>
                <span class="f-tit">联系我们</span>
                <p>客服热线<br />
              <strong class="fz16">0512-36699066</strong><br />（9:00-17:30）国定节假日除外<br />平台合作：<strong class="fz14">0512-36699066</strong></p>
            </li>
        </ul>	
        <div class="copyright clearfix">
        	<a href="" class="f_logo"></a>
            <p class="ftr-p">&copy;2015 Funmall Co., Ltd. All rights reserved. 备案号：苏CP备13003602号-2</p>
        </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
  $('.input-box input').on('focus',function(){
    if($(this).hasClass('error-bor')){
      $(this).removeClass('error-bor');
      $('.error-tip').hide();
    }
    $(this).addClass('onFocus');
  }).on("blur",function() {
    $(this).removeClass("onFocus")
  })

</script>

</body>
</html>
