<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫</title>
<meta name="keywords" content="房猫,昆山" />
<meta name="description" content="" />
<link href="{{$base_url}}css/list.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
</head>
<body>
<div class="wraper">
{include file="header.html"}
    <!--------------头部导航start---------------->
{include file="header_login.html"}
    <!--------------头部导航end---------------->
    <!--------------搜索列表start---------------->
    <div class="item-list">
    	<div class="item-list-tit">新房房源</div>
        <div class="item-list-bdy">
        	<form action="/house/new_house_list" method="POST" id="new_house_list_form">
	            <dl class="items">
	                <dt class="item-title">区域：</dt>
	                <dd class="elems-l">
	                    <div class="filter-item">
	                    	<span onclick="change_search('region', 0)" {{if empty($search_region)}}class='selected-item'{{/if}} style="cursor:pointer">全部</span>
	                    	<a href='javascript:void(0);' onclick="change_search('region', 1)" {{if $search_region == 1}}class='selected-item'{{/if}}>城中</a>
	                    	<a href='javascript:void(0);' onclick="change_search('region', 2)" {{if $search_region == 2}}class='selected-item'{{/if}}>城东</a>
	                    	<a href='javascript:void(0);' onclick="change_search('region', 3)" {{if $search_region == 3}}class='selected-item'{{/if}}>城南</a>
	                    	<a href='javascript:void(0);' onclick="change_search('region', 4)" {{if $search_region == 4}}class='selected-item'{{/if}}>城西</a>
	                    	<a href='javascript:void(0);' onclick="change_search('region', 5)" {{if $search_region == 5}}class='selected-item'{{/if}}>城北</a>
	                    </div>
	                    <div class="filter-group">
	                    	<a href='javascript:void(0);' onclick="change_search('region', 6)" {{if $search_region == 6}}class='selected-item'{{/if}}>玉山镇</a>
	                    	{{foreach from=$search_region_list item=item}}
	                    		<a href='javascript:void(0);' onclick="change_search('region', {{$item.id}})" {{if $search_region == $item.id}}class='selected-item'{{/if}}>{{$item.name}}</a>
	                    	{{/foreach}}
	                    </div>
	                </dd>
	            </dl>
	            <dl class="items">
	                <dt class="item-title">类型：</dt>
	                <dd class="elems-l">
	                    <span onclick="change_search('style', 0)" {{if empty($search_style)}}class='selected-item'{{/if}} style="cursor:pointer">全部</span>
	                    {{foreach from=$search_style_list item=item}}
                    		<a href='javascript:void(0);' onclick="change_search('style', {{$item.id}})" {{if $search_style == $item.id}}class='selected-item'{{/if}}>{{$item.name}}</a>
                    	{{/foreach}}
	                </dd>
	            </dl>
	            <dl class="items">
	                <dt class="item-title">售价：</dt>
	                <dd class="elems-l">
	                    <span onclick="change_search('price', 0)" {{if empty($search_price)}}class='selected-item'{{/if}} style="cursor:pointer">全部</span>
	                    <a href='javascript:void(0);' onclick="change_search('price', 1)" {{if $search_price == 1}}class='selected-item'{{/if}}>5千以下</a>
	                    <a href='javascript:void(0);' onclick="change_search('price', 2)" {{if $search_price == 2}}class='selected-item'{{/if}}>5-6千</a>
	                    <a href='javascript:void(0);' onclick="change_search('price', 3)" {{if $search_price == 3}}class='selected-item'{{/if}}>6-7千</a>
	                    <a href='javascript:void(0);' onclick="change_search('price', 4)" {{if $search_price == 4}}class='selected-item'{{/if}}>7-8千</a>
	                    <a href='javascript:void(0);' onclick="change_search('price', 5)" {{if $search_price == 5}}class='selected-item'{{/if}}>8-1万</a>
	                    <a href='javascript:void(0);' onclick="change_search('price', 6)" {{if $search_price == 6}}class='selected-item'{{/if}}>1-1.5万</a>
	                    <a href='javascript:void(0);' onclick="change_search('price', 7)" {{if $search_price == 7}}class='selected-item'{{/if}}>1.5万以上</a>
	                </dd>
	            </dl>
	            <dl class="items">
	                <dt class="item-title">房型：</dt>
	                <dd class="elems-l">
	                    <span onclick="change_search('type', 0)" {{if empty($search_type)}}class='selected-item'{{/if}} style="cursor:pointer">全部</span>
	                    <a href='javascript:void(0);' onclick="change_search('type', 1)" {{if $search_type == 1}}class='selected-item'{{/if}}>一室</a>
	                    <a href='javascript:void(0);' onclick="change_search('type', 2)" {{if $search_type == 2}}class='selected-item'{{/if}}>二室</a>
	                    <a href='javascript:void(0);' onclick="change_search('type', 3)" {{if $search_type == 3}}class='selected-item'{{/if}}> 三室</a>
	                    <a href='javascript:void(0);' onclick="change_search('type', 4)" {{if $search_type == 4}}class='selected-item'{{/if}}>四室</a>
	                    <a href='javascript:void(0);' onclick="change_search('type', 5)" {{if $search_type == 5}}class='selected-item'{{/if}}>五室</a>
	                    <a href='javascript:void(0);' onclick="change_search('type', 6)" {{if $search_type == 6}}class='selected-item'{{/if}}>五室以上</a>
	                </dd>
	            </dl>
	            <dl class="items borNo">
	                <dt class="item-title">特色：</dt>
	                <dd class="elems-l">
	                    <span onclick="change_search('feature', 0)" {{if empty($search_feature)}}class='selected-item'{{/if}} style="cursor:pointer">不限</span>
	                    <a href='javascript:void(0);' onclick="change_search('feature', '婚房首选')" {{if $search_feature == '婚房首选'}}class='selected-item'{{/if}}>婚房首选</a>
	                    <a href='javascript:void(0);' onclick="change_search('feature', '主卧朝南')" {{if $search_feature == '主卧朝南'}}class='selected-item'{{/if}}>主卧朝南</a>
	                    <a href='javascript:void(0);' onclick="change_search('feature', '学区房')" {{if $search_feature == '学区房'}}class='selected-item'{{/if}}>学区房</a>
	                    <a href='javascript:void(0);' onclick="change_search('feature', '交通便利')" {{if $search_feature == '交通便利'}}class='selected-item'{{/if}}>交通便利</a>
	                    <a href='javascript:void(0);' onclick="change_search('feature', '南北通透')" {{if $search_feature == '南北通透'}}class='selected-item'{{/if}}>南北通透</a>
	                    <a href='javascript:void(0);' onclick="change_search('feature', '双阳台')" {{if $search_feature == '双阳台'}}class='selected-item'{{/if}}>双阳台</a>
	                    <a href='javascript:void(0);' onclick="change_search('feature', '小区中心位置')" {{if $search_feature == '小区中心位置'}}class='selected-item'{{/if}}>小区中心位置 </a>
	                    <a href='javascript:void(0);' onclick="change_search('feature', '投资首选')" {{if $search_feature == '投资首选'}}class='selected-item'{{/if}}>投资首选</a>
	                </dd>
	            </dl>
            </form>
        </div>
    </div>
    <div class="sortby">
        <span class="sort-con">
            排序： <a href="javascript:void(0);" class="fst cur">默认排序</a>
           <a href="javascript:void(0);" {{if $order_price_dir == 1}}class="selected-down"{{else}}class="selected-up"{{/if}} id="order_price">单价</a>
        </span>
        <div class="sort-res">
            <span class="res-txt">共找到 <em class="red">{{$new_house_list['countPage']}}</em> 套房源</span>
        </div>
    </div>
    <div class="houserchres clearfix">
        <div class="serchL">
            <div class="houselist newhouselist">
                {{foreach from=$new_house_list.res_list item=item}}
                <div class="houseli" onclick="show_detail('{{$item->id}}')">
                    <!-- <img src="http://dummyimage.com/190x155/000/fff"> -->
                    <img src="/uploadfiles/pics/{{$item->bg_pic}}" style="width:190px; height:155px;">
                    <div class="housedetail ">
                        <div class="house-tit">
                            <a href="javascript:void(0);">
                                {{$item->name}}
                            </a>
                        </div>
                        <div class="house-state">
                        {{foreach from=$item->feature_list key=key item=val}}
                			<span {{if $key == 0}}class="cur"{{/if}}>{{$val}}</span>
                        {{/foreach}}
                        </div>
                        <div class="house-address">
                            [{{$item->region_fullname}}] {{$item->address|default:"地址不详"}}
                        </div>
                        <div class="house-other-info">
                            户型：
                            {{foreach from = $rooms[$item->id] item=row key=k}}
                            <span>{{$row['room']}}室（{{$row['count']}}）</span>{{if $k+1 lt $rooms[$item->id]|@count}}<em>|</em>{{/if}}
                            {{/foreach}}
                        </div>
                        <div class="house-other-info">
                            最新开盘：{{$item->kp_date|date_format:"%Y年%m月%d日"}}
                        </div>
                        <div class="house-dynamic">
                        {{if isset($news[$item->xq_id])}}
                            <i class="red">动态</i> {{$news[$item->xq_id][0]['title']}}
                        {{/if}}
                        </div>
                    </div>
                    <div class="houseprice">
                        {{if $item->unit_price == 0}}
                        <em class="red">待定</em><br />
                        {{else}}
                        均价<em class="red">{{$item->unit_price}}</em>元/㎡<br />
                        {{/if}}
                        
                    </div>
                    <div class="house-tel">
                        {{$item->dev_phono}}
                    </div> 
                </div> 
                {{/foreach}}
                <div class="paging">
            {{$pager}}
<!--                <i class="iPre"><上一页</i>
                <i class="curr">1</i>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <i class="aDotted">...</i>
                <a href="" class="iPre">下一页></a> --> 
            </div> 
            </div>
            
            <!-- <div class="newhouse-tit">热门新盘推荐</div>
            <ul class="houselist newhouselist">
                <li>
                    <img src="http://dummyimage.com/190x155/000/fff">
                    <div class="housedetail ">
                        <div class="house-tit">
                            <a href="#">
                                昆城景苑
                            </a>
                        </div>
                        <div class="house-state">
                            <span class="cur">在售</span>
                            <span>现房</span>
                            <span>小户型</span>
                        </div>
                        <div class="house-address">
                            [ 玉山  城南 ]  衡山路与人民南路两侧
                        </div>
                        <div class="house-other-info">
                            户型：<span>2室（2）</span><em>|</em><span>3室（2）</span>
                        </div>
                        <div class="house-other-info">
                            最新开盘：2014年10月26日
                        </div>
                        <div class="house-dynamic">
                            <i class="red">动态</i> 69-130平高层房源总价92折优惠
                        </div>
                    </div>
                    <div class="houseprice">
                        均价<em class="red">13000</em>元/㎡<br />
                    </div>
                    <div class="house-tel">
                        400-067-1259
                    </div>  
                </li>
                <li>
                    <img src="http://dummyimage.com/190x155/000/fff">
                    <div class="housedetail ">
                        <div class="house-tit">
                            <a href="#">
                                昆城景苑
                            </a>
                        </div>
                        <div class="house-state">
                            <span class="cur">在售</span>
                            <span>现房</span>
                            <span>小户型</span>
                        </div>
                        <div class="house-address">
                            [ 玉山  城南 ]  衡山路与人民南路两侧
                        </div>
                        <div class="house-other-info">
                            户型：<span>2室（2）</span><em>|</em><span>3室（2）</span>
                        </div>
                        <div class="house-other-info">
                            最新开盘：2014年10月26日
                        </div>
                        <div class="house-dynamic">
                            <i class="red">动态</i> 69-130平高层房源总价92折优惠
                        </div>
                    </div>
                    <div class="houseprice">
                        均价<em class="red">13000</em>元/㎡<br />
                    </div>
                    <div class="house-tel">
                        400-067-1259
                    </div>  
                </li>
                <li class="last">
                    <img src="http://dummyimage.com/190x155/000/fff">
                    <div class="housedetail ">
                        <div class="house-tit">
                            <a href="#">
                                昆城景苑
                            </a>
                        </div>
                        <div class="house-state">
                            <span class="cur">在售</span>
                            <span>现房</span>
                            <span>小户型</span>
                        </div>
                        <div class="house-address">
                            [ 玉山  城南 ]  衡山路与人民南路两侧
                        </div>
                        <div class="house-other-info">
                            户型：<span>2室（2）</span><em>|</em><span>3室（2）</span>
                        </div>
                        <div class="house-other-info">
                            最新开盘：2014年10月26日
                        </div>
                        <div class="house-dynamic">
                            <i class="red">动态</i> 69-130平高层房源总价92折优惠
                        </div>
                    </div>
                    <div class="houseprice">
                        均价<em class="red">13000</em>元/㎡<br />
                    </div>
                    <div class="house-tel">
                        400-067-1259
                    </div>  
                </li>
            </ul>
             -->
        </div>
        <div class="serchR">
            <div class="reco-tit">推荐楼盘</div>
            <div class="reco-bdy">
            {{foreach from=$recommend_list item=row}}
                <div class="a-reco-link">
                    <a href="{{site_url url='house/new_house_detail'}}/{{$row['id']}}" target="_blank"><img width="210" height="140" src="/uploadfiles/pics/{{$row['bg_pic']}}"></a>
                    <span class="reco-ad-info">[{{$row['region_name']}}]{{$row['name']}}</span>
                    <span class="reco-ad-info">均价 <i class="red">{{$row['unit_price']}}</i>元/m²</span>
                    <div class="house-state">
                    	{{foreach from=$row['feature'] item=roww key=k}}
                    	{{if $k < 2}}
                        <span {{if $k==0}}class="cur"{{/if}}>{{$roww}}</span>
                        {{/if}}
                        {{/foreach}}
                    </div>
                </div>
            {{/foreach}}
            </div>
        </div>
    </div>
</div>
{include file="footer.html"}

<script>
$(function() {
	$('.houselist li').mouseenter(function(){
	    $('.houselist li').removeClass('over-bg');
	    $(this).addClass('over-bg');
	}).mouseleave(function(){
	    $('.houselist li').removeClass('over-bg');
	});
	
	$("#order_price").click(function() {
		$("#search_order").val(1);
		var order_price_dir = $("#order_price_dir").val();
		if(order_price_dir == 1) {
			$("#order_price_dir").val(2);
		} else {
			$("#order_price_dir").val(1);
		}
		$("#searchHouseForm").submit();
	});
	
	$('.ks-select em').text("新房");
	$("#question").val('{{$search_text}}')
});

function change_search(t, v) {
	$("#search_" + t).val(v);
	$("#searchHouseForm").submit();
}

function show_detail(id) {
	var url = '/house/new_house_detail/' + id;
	window.open(url);
}
</script>
</body>
</html>
