<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫</title>
<meta name="keywords" content="房猫,昆山" />
<meta name="description" content="" />
<link href="{{$base_url}}css/publish.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wraper">
    {include file="header.html"}
    <!--------------头部导航start---------------->
	{include file="header_login.html"}
    <!--------------头部导航end---------------->
    
    <div class="publish-suc clearfix">
        <img src="{{$base_url}}images/success.png" alt="" width="96" height="90" class="fl" />
        <p>恭喜您！成功发布房源。</p>
    </div>
</div>
{include file="footer.html"}
</body>
</html>
