<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫</title>
<meta name="keywords" content="房猫,昆山" />
<meta name="description" content="" />
<link href="/css/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
</head>
<body>
<div class="wraper" id="login">
   <!------------头部start-------------->
    <div class="header clearfix">
    	<h1 class="logo">
        	<a href="/" title="房猫">房猫</a>
        </h1>
        <span class="wel-login-txt">帐号注册</span>
    </div>
    <!--------------头部end---------------->
    <div class="register-main clearfix">
       <div class="register-content">
          <form method="post" action="{{site_url url='register/post_register'}}">
            <table cellpadding="0" cellspacing="0"> 
              <tr>
                  <th width="105"><em class="red">*</em> 用户名:</th>
                  <td width="265"><input class="reg-input reg-name" name="username" type="text" /></td>
                  <td class="error-tip">! 请填写用户名</td>
              </tr>
              <tr>
                  <th><em class="red">*</em> 请设置密码:</th>
                  <td><input class="reg-input reg-pwd" type="password" name="password"/></td>
                  <td class="error-tip">! 请设置密码</td>
              </tr>
              <tr>
                  <th><em class="red">*</em> 请确认密码:</th>
                  <td><input class="reg-input reg-pwd-confirm" type="password"  name="re_password"/></td>
                  <td class="error-tip">! 请确认密码</td>
              </tr>
              <tr>
                  <th><em class="red">*</em> 验证码:</th>
                  <td colspan="2"><input class="reg-input reg-verifi-code" type="text" name="captcha" /><span class="show-code"></span><span>看不清？<a href="javascript:get_captcha();" class="change-next-a">换一张</a></span></td>
              </tr>
              <tr>
                  <th>&nbsp;</th>
                  <td><label><input type="checkBox" checked class="check-box" id="check_box"/> 我已阅读并同意<em class="color2">《房猫用户注册协议》</em></label></td>
                  <td class="error-tip">! 必须接受用户协议才可以注册。</td>
              </tr>
              <tr>
                  <th>&nbsp;</th>
                  <td><a class="sub-btn" href="javascript:;" onclick="check_input();">立即注册</a></td>
                  <td></td>
              </tr>
            </table>
          </form>
         
       </div>
    </div>
    
</div>
{include file="footer.html"}
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
  $('.reg-input').on('focus',function(){
    if($(this).hasClass('error-bor')){
      $(this).removeClass('error-bor');
      $('.error-tip').hide();
    }
    $(this).addClass('onFocus');
  }).on("blur",function() {
    $(this).removeClass("onFocus")
  })
</script>
<script>
$(function() {
  get_captcha();
});

function get_captcha(){
  $.get('{{site_url url="register/get_captcha"}}',function(data){
    $('.show-code').html(data);
  });
}

function check_input(){
	$('.error-tip').hide();
	if(!$("[name='username']").val()){
		$("[name='username']").parent().parent().find('.error-tip').show();
		return false;
	}
	if(!$("[name='password']").val()){
		$("[name='password']").parent().parent().find('.error-tip').show();
		return false;
	}
	if(!$("[name='re_password']").val()){
		$("[name='re_password']").parent().parent().find('.error-tip').show();
		return false;
	}
	if($("[name='re_password']").val() != $("[name='password']").val()){
		alert('两次输入的密码不一致，请重新输入');
		return false;
	}
	
	if(!$("[name='captcha']").val()){
		alert('请输入验证码');
		return false;
	}
	if(!$("#check_box").is(":checked")){
		alert('请先阅读并同意房猫用户协议');
		return false;
	}
	$('form').submit();
}

</script>
</body>
</html>
