<div id="uploader">
    <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("#uploader").plupload({
		runtimes : 'html5,flash,silverlight',
		url : "/manage/save_pics/{{$time}}/1",
        max_file_size : '50mb',
        // Resize images on clientside if we can
        resize : {
            crop: true // crop to exact dimensions
        },
        file_data_name: 'userfile',
        // Specify what files to browse for
        filters : [],
        filters: {
        	mime_types : [{
        		title : "Image files", extensions : "jpg,gif,png"
        	}],
        	max_file_size : '1024kb', //最大只能上传400kb的文件
        	prevent_duplicates : true //不允许选取重复文件
        },
        // Rename files by clicking on their titles
        rename: true,
        // Sort files
        sortable: true,
        // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
        dragdrop: true,
        // Views to activate
        views: {
            list: true,
            thumbs: true, // Show thumbs
            active: 'thumbs'
        },
		// Flash settings
		flash_swf_url : '{{$base_url}}plupload/js/Moxie.swf',
		// Silverlight settings
		silverlight_xap_url : '{{$base_url}}plupload/js/Moxie.xap'
	});
});
</script>