<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>经纪人微店-专题页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style2.css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div class="art">
    	<div class="art-tit">{{$article['title']}}</div>
        <div class="art-info"><p><span class="art-time">{{$article['created']}}</span><span class="art-author">{{$article['rel_name']}}</span></p></div>
        <div class="art-body">
        	{{$article['content']}}
        	<div class="art-action-next">
            	<div class="art-ewm">
                	<span class="art-ewm-img" id="btnShare"><img src="/static/images/ewm.jpg" alt="" width="60" height="60" /></span>
                    <i>扫描二维码</i>
                </div>
                <div class="clear"></div>
            	<span class="art-btn"><a href="/b_house/view_list/1"><img src="/static/images/btn.png" alt="" /></a></span>
                <i class="arrow"></i>
            </div>
        </div>
    </div>
</body>
<script>
  wx.config({
    debug: true,
    appId: '{{$signPackage["appId"]}}',
    timestamp: {{$signPackage["timestamp"]}},
    nonceStr: '{{$signPackage["nonceStr"]}}',
    signature: '{{$signPackage["signature"]}}',
    jsApiList: [
      'onMenuShareTimeline'
    ]
  });
  wx.ready(function () {
    $("#btnShare").click(function() {
    	wx.onMenuShareTimeline({
    	    title: "分享测试请忽略：{{$article['title']}}", // 分享标题
    	    link: window.location.href, // 分享链接
    	    imgUrl: 'http://www.funmall.com.cn/static/images/ewm.jpg', // 分享图标
    	    success: function () { 
    	        alert("您已经成功分享");
    	    },
    	    cancel: function () { 
    	    	alert("您已经取消分享");
    	    }
    	});
    });
  });
</script>
</html>

