<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>经纪人微店-专题页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style2.css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div class="art">
    	<div class="art-tit">{{$article['title']}}</div>
        <div class="art-info"><p><span class="art-time">{{$article['created']}}</span><span class="art-author">{{$article['rel_name']}}</span></p></div>
        <div class="art-body">
        	{{$article['content']}}
            <div class="art-action-next">
               <img src="images/art_ewm.gif" alt="" id="btnShare" />
                <!-- <div class="art-ewm">
                    <img src="/static/images/ewm1.jpg" width="110" height="110" id="btnShare" />
                    <div class="scan"></div>
                </div> -->
            </div>
            <span class="art-btn"><a href="/b_house/view_list/1"><img src="/static/images/btn1.jpg" alt="" /></a></span>
        </div>
    </div>
</body>
<script>
  wx.config({
    debug: false,
    appId: '{{$signPackage["appId"]}}',
    timestamp: {{$signPackage["timestamp"]}},
    nonceStr: '{{$signPackage["nonceStr"]}}',
    signature: '{{$signPackage["signature"]}}',
    jsApiList: [
		'checkJsApi',
		'onMenuShareAppMessage',
      	'onMenuShareTimeline',
      	'onMenuShareQQ',
      	'onMenuShareWeibo',
      	'onMenuShareQZone'
    ]
  });
  var title = "{{$article['title']}}";
  var desc = "测试分享功能";
  var link = "http://bb2.ksls.com.cn/api/view_art/{{$article['broker_id']}}"; //"http://www.funmall.com.cn/b_house/view_art/{{$article['broker_id']}}";
  var imgUrl = "http://www.funmall.com.cn/uploadfiles/pics/20151026100457/3/042f611121e7649b7b03d9d7cde459df.jpg";
  var type = "link";
  wx.ready(function () {
   	wx.onMenuShareTimeline({
   	    title: title,
   	    link: link,
   	    imgUrl: imgUrl,
   	    trigger: function (res) {
        	//alert('用户点击分享到朋友圈');
        },
   	    success: function () { 
   	        //alert("您已经成功分享");
   	    },
   	    cancel: function () { 
   	    	//alert("您已经取消分享");
   	    },
   	    fail: function (res) {
            alert(JSON.stringify(res));
        }
   	});
   	wx.onMenuShareAppMessage({
   	    title: title,
   	    desc: desc,
   	    link: link,
   	    imgUrl: imgUrl,
   	    type: type,
   	    dataUrl: '',
   	    success: function () {
   	    },
   	    cancel: function () {
   	    }
   	});
   	wx.onMenuShareQQ({
   	    title: title,
   	    desc: desc,
   	    link: link,
   	    imgUrl: imgUrl,
   	    success: function () {
   	    },
   	    cancel: function () {
   	    }
   	});
   	wx.onMenuShareWeibo({
   	    title: title,
	    desc: desc,
	    link: link,
	    imgUrl: imgUrl,
   	    success: function () {
   	    },
   	    cancel: function () {
   	    }
   	});
   	wx.onMenuShareQZone({
   		title: title,
	    desc: desc,
	    link: link,
	    imgUrl: imgUrl,
   	    success: function () {
   	    },
   	    cancel: function () {
   	    }
   	});
  });
  wx.error(function(res){
      alert("errorMSG:"+res);
  });
</script>
</html>

