<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>城北学区房</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style2.css">
</head>
<body style="background:#f5f2f0;">
    <div class="g-head">
        <a href="/b_house/view_list"><i class="am-icon-chevron-left"></i></a>
       	 资料卡
    </div>
    
    <div class="g-doc">
    	<div class="person-info">
        	<div style="margin:0 auto;width:310px">
                <div class="peo-head">
                    <span class="peo-img"><img src="/static/images/touxiang2.jpg" width="100" height="100" /></span>
                    <span class="level"><em>V</em> <i>1</i></span>
                </div>
                <dl class="peo-txt">
                    <dt>姓名：</dt><dd>{{$broker.rel_name}}</dd>
                    <dt>公司：</dt><dd>{{$broker.company_name}}</dd>
                    <dt>分店：</dt><dd>{{$broker.subsidiary_name}}</dd>
                    <dt>电话：</dt><dd>{{$broker.tel}}</dd>
                </dl>
            </div>
        </div>
        <div class="person-body">
        	<div class="ewm">
            	<img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{$broker.ticket}}" width="200" height="200" />
            </div>
            <p class="ewm-tips">（扫一扫，查看我的优质房源）</p>
        </div>
    </div>
    <div class="footer"><p>@funmall.com.cn</p></div>
</body>
</html>


