<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>客源列表页</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta content="telephone=no" name="format-detection"/>
	<link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
<div class="g-head">
	<i class="am-icon-chevron-left"></i>我的客源
</div>
<ul class="dialogue-customer-list">
	{{foreach from=$client_users key=key item=item}}
	<li>
		<a href="#" onclick="go_chat('{{$item['open_id']}}')">
	        <span class="cus-head">
	            <img src="{{$item['headimgurl']}}" alt="" width="70" height="70" />
	            <i class="dialogue-messages" id="number_{{$item['open_id']}}"><!-- <em class="dialogue-messages-em">3</em> --></i>
	        </span>
        </a>
        <div class="all-icon">
			<div class="all-tel"><span class="tel-icon"><img src="images/tel-icon.png" alt=""></span>
				{{if $item['user_tel'] }}
				<span id="user_tel_{{$item['open_id']}}">{{$item['user_tel']}}</span>
				<span id="user_tel_icon_{{$item['open_id']}}" class="tel-btn" onclick="makeCall('{{$item['user_tel']}}')"><i class="am-icon-phone"></i></span>
				{{else}}
				无
				{{/if}}</div>
			<div class="all-btns">
                    <span class="eye-icon" oid="{{$item['open_id']}}">
                        <img src="images/eye-icon.png" alt="">
                    </span>
                    <span class="edit-btn" oid="{{$item['open_id']}}">
                        <img src="images/edit-icon.png" alt="">
                    </span>
                    <span class="history-icon" oid="{{$item['open_id']}}">
                        <img src="images/his-icon.png" alt="">
                    </span>
			</div>
        </div>
        <div class="cus-txt">
			<p class="p-txt1"><i class="name">{{$item['nickname']}}</i> <!-- <i class="sex">女</i>  --></p>
			<p class="p-txt1"><i class="state leave-state" id="status_{{$item['open_id']}}">离线</i></p>
			<p class="p-txt2"><i class="fz16">姓名：</i><span id="realname_{{$item['open_id']}}">{{if $item['realname'] }}{{$item['realname']}}{{else}}无{{/if}}</span></p>
        </div>
    </li>
	{{/foreach}}
</ul>
<div class="pop-box" style="display: none;">
    <div class="pop-bg"></div>
    <div class="pop-content">
        <div class="pop-tit">修改客源信息</div>
        <p><i>姓名：</i><input id="realname" type="text" placeholder="请输入客户姓名" class="true-txt" /></p>
        <p><i>电话：</i><input id="user_tel" type="text" placeholder="请输入客户电话" class="true-txt" maxlength="11" /></p>
        <div class="save-btn">保存</div>
        <div class="closeBtn"></div>
    </div>
</div>
<div id="m-filter-mask" class="leftmask leftmask3" style="display: none;"></div>
<div id="m-filter-hisbrowse-leftPopup" class="leftPopup hisbrowse" data-back="leftmask3" style="display:none;z-index: 999999;">
	<div class="swipeLeft" id="m-filter-hisbrowse">
	    <ul class="dialogue-right-body" id="dialogue-right-body">
	        <li class="dialogue-right-tit">浏览记录</li>
	   </ul>
	</div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/model.js"></script>
<script type="text/javascript" src="/static/js/iscroll.js"></script>
<script type="text/javascript" src="/chat/socket.io.js"></script>
<script>
	var broker_id = '{{$wx_broker_id}}';
	var socket = io.connect('http://121.40.97.183:4000');
	var selected_open_id = '';

	$(function(){
		socket.emit('online', JSON.stringify({ "user_id": broker_id, "user_type": 2 }));
	});

	socket.on('disconnect',function(){
		console.log('disconnected')
	});

	socket.on('reconnect',function(){
		console.log('reconnected')
	});

	socket.on('receive-message', function (data) {
		var data = JSON.parse(data);

		var user_id = data.user_id;
		var count = data.count
		if(count > 0) {
			$('#audio_tag').trigger('play');

			var html = '<em class="dialogue-messages-em">' + count + '</em>';
			$("#number_" + user_id).html(html);
		}
	});

	socket.on('show-status',function(data){
		var data = JSON.parse(data);
		var user_id = data.user_id;
		var status = data.status;
		if(status) {
			$("#status_" + user_id).text("在线");
			$("#status_" + user_id).removeClass('leave-state');
			$("#status_flag_" + user_id).val(1);
		} else {
			$("#status_" + user_id).text("离线");
			$("#status_" + user_id).addClass('leave-state');
			$("#status_flag_" + user_id).val(0);
		}
	});

	function go_chat(open_id) {
		window.location.href="/b_house/view_chat/" + open_id + '/{{$wx_broker_id}}/2';
	}
	
	$(".edit-btn").click(function(ev){    	
		selected_open_id = $(this).attr('oid');
		var realname = $("#realname_"+selected_open_id).text();
		var user_tel = $("#user_tel_"+selected_open_id).text();
		if(realname != '无') {
			$("#realname").val(realname);
		}
		if(user_tel != '无') {
			$("#user_tel").val(user_tel);
		}

		$(".pop-bg").show();
		$(".pop-box").show();
        ev.preventDefault();
    });
	$(".closeBtn").click(function(){
		$(".pop-box").hide();
	});
	$(".pop-bg").bind('touchstart',function(){
		$(this).hide();
		$(".pop-box").hide();
	});
    $(".save-btn").click(function() {
    	var realname = $("#realname").val();
    	var user_tel = $("#user_tel").val();
		$.post('/b_house/update_wx_user_info/', { open_id: selected_open_id, realname: realname, user_tel: user_tel } , function(data) {
			if(data) {
				if(realname) {
					$("#realname_"+selected_open_id).text(realname);
				} else {
					$("#realname_"+selected_open_id).text('无');
				}
				if(user_tel) {
					$("#user_tel_icon_"+selected_open_id).show();
					$("#user_tel_"+selected_open_id).text(user_tel);
				} else {
					$("#user_tel_icon_"+selected_open_id).hide();
					$("#user_tel_"+selected_open_id).text('无');
				}
				$("#realname").val("");
				$("#user_tel").val("");
			}
			$(".pop-box").hide();
        });
    });

    $(".history-icon").bind("click",function(ev){
        var open_id = $(this).attr('oid');
        $.get('/b_house/list_house_tracks/' + open_id, function(data) {
        	var html = '<li class="dialogue-right-tit">所有浏览记录</li>';
        	var data = JSON.parse(data);
        	for(var i in data) {
        		var d = data[i];
        		if(d.id) {
        			html += '<li>';
                	html += '  <a href="/b_house/view_detail/' + d.id + '" target="_self">';
                	html += '    <div class="dialogue-history-list">';
                	html += '      <div class="clearfix">';
                	html += '        <span class="dialogue-s-img">';
                	html += '          <img src="/uploadfiles/pics/' + d.bg_pic + '" alt="" width="70" height="50">';
                	html += '        </span>';
                	html += '        <p>';
                	html += '          <span class="s01">' + d.xq_name + '</span>';
                	html += '          <span class="s02">' + d.acreage + '㎡ | ' + d.room + '房 | ' + d.total_price + '万</span>';
                	html += '          <span class="s03">' + d.region_name + '</span>';
                	html += '        </p>';
//                	if(d.call_time != null) {
//                		html += '  <i class="iscall"></i>';
//                	}
                	html += '      </div>';
                	html += '    </div>';
                	html += '  </a>';
                	html += '  <p class="pulisher"><i>发布者：</i>' + d.rel_name + ' <i>电话：</i>' + d.tel + '</p>';
                	html += '</li>';
        		}
        	}
        	$("#dialogue-right-body").html(html);
			rightPop();
        });
    });
	$(".eye-icon").bind("click",function(ev) {
		var open_id = $(this).attr('oid');
		$.get('/b_house/get_viewed_house_list/' + open_id, function(data) {
			var html = '<li class="dialogue-right-tit">受关注的浏览记录</li>';
        	var data = JSON.parse(data);
        	for(var i in data) {
        		var d = data[i];
        		if(d.id) {
        			html += '<li>';
                	html += '  <a href="/b_house/view_detail/' + d.id + '" target="_self">';
                	html += '    <div class="dialogue-history-list">';
                	html += '      <div class="clearfix">';
                	html += '        <span class="dialogue-s-img">';
                	html += '          <img src="/uploadfiles/pics/' + d.bg_pic + '" alt="" width="70" height="50">';
                	html += '        </span>';
                	html += '        <p>';
                	html += '          <span class="s01">' + d.xq_name + '</span>';
                	html += '          <span class="s02">' + d.acreage + '㎡ | ' + d.room + '房 | ' + d.total_price + '万</span>';
                	html += '          <span class="s03">' + d.region_name + '</span>';
                	html += '        </p>';
//                	if(d.call_time != null) {
//                		html += '  <i class="iscall"></i>';
//                	}
                	html += '      </div>';
                	html += '    </div>';
                	html += '  </a>';
                	html += '  <p class="pulisher"><span><i>公司：</i>' + d.company_name + '</span> <span><i>分店：</i>' + d.subsidiary_name + '</span><br>';
                	html += '  <span><i>发布者：</i>' + d.rel_name + '</span> <span><i>电话：</i>' + d.tel + '</span></p>';
                	html += '</li>';
        		}
        	}
        	$("#dialogue-right-body").html(html);
			rightPop();
		});
	})

    function rightPop(){
		$('#m-filter-mask').show();
		$('#m-filter-hisbrowse-leftPopup').show();
		$('#m-filter-hisbrowse').addClass("swipeLeft-block");
		$('#m-filter-mask').touches({ touchstart: function (ev) { ev.preventDefault(); }, touchmove: function (ev) { ev.preventDefault(); } });
		$('#m-filter-hisbrowse').touches({ touchstart: function (ev) { ev.stopPropagation(); }, touchmove: function (ev) { ev.preventDefault(); } });
		$('body').css('overflow','hidden');
		new iScroll($("#m-filter-hisbrowse")[0], {
			snap:'li',
			momentum: true,
			click: true,
			bounce: false
		});
	}

    $('#m-filter-mask').bind('touchstart',function () {
		$(this).hide();
		$(".swipeLeft").removeClass("swipeLeft-block");
		$(".leftPopup").hide();
    });
    
    var makeCall = function(tel) {
    	window.location.href='tel://'+tel;
    }
</script>
<audio id="audio_tag"><source src="/chat/ring/msg.wav" type="audio/x-wav" /></audio>
</body>
</html>


