<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天窗口</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>
<body id="dialogue">
<div class="g-head">
    <a href="javascript:history.go(-1);"><i class="am-icon-chevron-left"></i></a>聊天窗口<span id="status"></span>
</div>
<div class="dialogue-content" id="dialogue-content">
	<div class="dialogue-detail" id="scrollCont1">
		<div class="scroll" id="scorll">

		</div>
	</div>
</div>
<div class="word_submit">
	<input type="text" class="input_txt" id="msg_box" />
	<div class="tj_btn" id="btnSendMsg">发送</div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollLoading.js"></script>
<script type="text/javascript" src="/static/js/zepto.js"></script>
<!-- <script type="text/javascript" src="http://121.40.97.183:4000/socket.io/socket.io.js"></script> -->
<script type="text/javascript" src="/chat/socket.io.js"></script>
<script>
	//模拟滚动条
	window.myScroll = new IScroll('#scrollCont1', {
		scrollbars: false,
		mouseWheel: true,
		interactiveScrollbars: true,
		shrinkScrollbars: 'scale',
		fadeScrollbars: false
	});

	Date.prototype.format = function(format) {
	    var date = {
		    "M+": this.getMonth() + 1,
		    "d+": this.getDate(),
		    "h+": this.getHours(),
		    "m+": this.getMinutes(),
		    "s+": this.getSeconds(),
		    "q+": Math.floor((this.getMonth() + 3) / 3),
		    "S+": this.getMilliseconds()
	    };
	    if (/(y+)/i.test(format)) {
	        format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
	    }
	    for (var k in date) {
		    if (new RegExp("(" + k + ")").test(format)) {
	        	format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
		    }
	    }
	    return format;
	}
	
	function trim(str) {
		return str.replace(/(^\s+)|(\s+$)/g, "");
	}
</script>
<script type="text/javascript">
	var user_type = '{{$wx_user_type|default:1}}';
	var user_id   = user_type == 1 ? '{{$wx_open_id}}' : '{{$wx_broker_id}}';
	var target_id = user_type == 1 ? '{{$wx_broker_id}}' : '{{$wx_open_id}}';
	var socket = io.connect('http://121.40.97.183:4000');
	
	socket.emit('online', JSON.stringify({ "user_id": user_id, "target_id": target_id, "user_type": user_type, "reset_flag": true }));
	socket.emit('show-history', JSON.stringify({ "user_id": user_id, "target_id": target_id, "user_type": user_type }));

	socket.on('disconnect',function(){
		console.log('disconnected')
	});
	
	socket.on('reconnect',function(){
		console.log('reconnected')
	});
	
	socket.on('show-status',function(data){
		var data = JSON.parse(data);
		var status = data.status;
		if(status) {
			$("#status").text(" - 在线");
		} else {
			$("#status").text(" - 离线");
		}
	});
	
	socket.on('receive-message', function (data) {
		showMessage(data);
		
//		var data = JSON.parse(data);
//		if(user_type != data.user_type) {
//			play_ring("/chat/ring/msg.wav");
//		}
	});
	
	socket.on('receive-history', function (data) {
		var messages = JSON.parse(data);
		var messages = messages.reverse();
		for(var i in messages) {
			showMessage(messages[i]);
		} 
	});
	
	$(function() {
		$("#btnSendMsg").click(function() {
			var message = $("#msg_box").val();
			if(trim(message) !== ""){
		    	socket.emit('send-message', JSON.stringify({ "user_id": user_id, "target_id": target_id, "user_type": user_type, "message": message }));
		    	$("#msg_box").val("");
			}
		});
	});

	var messageCount = 0;
	function showMessage(d) {
		messageCount++;
		var d = JSON.parse(d)
		var message = d.message;
		var date = new Date();
		date.setTime(d.time);
		var content = '';
		if(d.user_type == 1) {
			 content += '<div class="customer">';
			 if(messageCount % 5 == 0) {
			 	content += '<span class="data-time">' + date.format('yyyy-MM-dd h:m:s') + '</span>';
			 }
			 content +='<div class="cus_head_pic"><img src="/static/images/touxiang1.jpg" alt="" width="50" height="50"></div><div class="cus_word"><p>';
			 content += message;
			 content += '</p><span class="cus_word_icon"></span></div></div>';
		} else {
			content += '<div class="manger">';
			if(messageCount % 5 == 0) {
				content += '<span class="data-time">' + date.format('yyyy-MM-dd h:m:s') + '</span>';
			}
			content +='<div class="manger_head_pic"><img src="/static/images/touxiang2.jpg" alt="" width="50" height="50"></div><div class="manger_word"><p>';
			content += message;
			content += '</p><span class="manger_word_icon"></span></div></div>';
		}
		$("#scorll").append(content);
		myScroll.refresh();
		myScroll.scrollToElement("#scorll>div:last-child",1500);
	}
	
	function play_ring(url){
		var embed = '<embed id="ring" src="'+url+'" loop="0" autostart="true" hidden="true" style="height:0px; width:0px;0px;"></embed>';
		$("#ring").html(embed);
	}
</script>
<div id="ring" style="width:0px; height:0px;"></div>
</body>
</html>