<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>城北学区房</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style2.css">
</head>
<body id="dialogue">
    <div class="g-head">
        <i class="am-icon-chevron-left"></i>
        与管理员聊天
        <i class="am-icon-user"> <em style="font-size:12px">登录</em></i>
    </div>
    <div class="g-doc">
       <div class="customer">
       		<div class="cus_head_pic">
            </div>
            <div class="cus_word">
            	<p>你好，我的房源信息不能上传？其他的信息也无法编辑。</p>
                <span class="cus_word_icon"></span>
            </div>
       </div>
        <div class="manger">
       		<div class="manger_head_pic">
            </div>
            <div class="manger_word">
            	<p>你好，我的房源信息不能上传？其他的信息也无法编辑。你好，我的房源信息不能上传？其他的信息也无法编辑。你好，我的房源信息不能上传？其他的信息也无法编辑。</p>
                <span class="manger_word_icon"></span>
            </div>
       </div>
       <div class="word_submit">
       		<input type="text" class="input_txt" />
            <div class="tj_btn"></div>
       </div>
    </div>
    <div class="pageRightMenu">
    	<span class="menu-button top-button" id="amz-go-top"><i class="am-icon-chevron-up"></i></span>
        <span class="menu-button"><i class="am-icon-comments am-icon-comments-on"></i></span>
        <span class="menu-button"><i class="am-icon-share-square-o"></i></span>
	</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollLoading.js"></script>
<script type="text/javascript">
//焦点图片按需加载
$(function(){
    var maxH=Math.max(document.documentElement.clientHeight,window.innerHeight)-50;
	$('.g-doc').height(maxH);
 });
</script>
</body>
</html>