<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的客源</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
    <div class="g-head">
        <i class="am-icon-chevron-left"></i>我的客源
    </div>
    <ul class="dialogue-customer-list">
    	{{foreach from=$client_users key=key item=item}}
	        <li onclick="go_to_chat('{{$item['open_id']}}')">
	            <a href=""><span class="cus-head">
	                <img src="{{$item['headimgurl']}}" alt="" width="50" height="50" />
	                <i class="dialogue-messages">3</i>
	            </span>
	            <i class="cus-date">15/12/27</i>
	            <div class="cus-txt">
	                <p class="p-txt1"><i class="name">{{$item['nickname']}}</i>
	                <i class="sex">{{if $item['sex'] == 1}}男{{else}}女{{/if}}</i>
	                <i class="state leave-state">离线</i></p>
	                <p class="p-txt2">{{$item['province']}} {{$item['city']}}</p>
	            </div></a>
	        </li>
        {{/foreach}}
    </ul>
<script>

function go_to_chat(open_id) {
	window.location.href="/b_house/view_chat/" + open_id + '/' + broker_id;
}
</script>
</body>
</html>


