<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>城北学区房</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
    <div class="g-head">
               受到关注的房源列表
        <a href="/b_login/" class="am-icon-user am-icon-user-out"></a>
    </div>
    <ul class="house-list">
    
        <li>
        	<img data-url="http://dummyimage.com/85x77/000/fff" src="images/default1.gif" alt="'" class="scrollLoading" width="85" height="77">
            <div class="house-txt">
                <p class="h-t1">城北 博威黄金海岸 大四房<span class="house-label">学</span></p>
                <p class="h-t2">2室1厅   |   4/11层 </p>
                <p class="h-t3"><i>装修：</i>精装 | <i>朝向：</i> 南北</p>
                <p class="p-price">53万<br /><i>5638元/㎡</i></p>
            </div>
        </li>
        
    </ul>
    <div class="m-pages"><a class="m-pages-pre m-pages-none" href="javascript:void(0);">上一页</a>
        <div class="m-pages-num-con"><span id="curPageIndex">1</span>/250</div><a class="m-pages-next" href="javascript:void(0);" onclick="pager_submit('/b_house/view_list/2')">下一页</a></div>
    <div class="pageRightMenu">
    	<span class="menu-button top-button am-icon-chevron-up" id="amz-go-top"></span>
        <span class="menu-button am-icon-comments"><i class="message-number">100</i></span>
        <span class="menu-button am-icon-share"></span>
        <span class="menu-button am-icon-history" id="menu-history-button" data-action="historyPopup"></span>
	</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollLoading.js"></script>

<script type="text/javascript">
    $(".scrollLoading").scrollLoading();

</script>
</body>
</html>


