<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>城北学区房</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
    <div class="g-head">
               受到关注的房源列表
        <a href="/b_login/" class="am-icon-user am-icon-user-out"></a>
    </div>
    <ul class="house-list">
    	{{foreach from=$v_house_tracks key=key item=item}}
        <a href="/b_house/view_detail/{{$item.id}}">
	        <li>
	        	<img data-url="/uploadfiles/pics/{{$item.bg_pic}}" src="/static/images/default1.gif" alt="'" class="scrollLoading" width="85" height="77">
	            <div class="house-txt">
	                <p class="h-t1">{{$item.region_name}} {{$item.xq_name}}</p>
	                <p class="h-t2">{{$item.room}}室{{$item.lounge}}厅   | {{$item.floor}}/{{$item.total_floor}}层 | {{$item.acreage}}㎡</p>
                    <p class="h-t3"><i>装修:</i> {{$item.decoration_name}} | <i>朝向:</i>{{$item.orientation_name}}</p>
                    <p class="p-price">{{$item.total_price}}万<br /><i>{{$item.unit_price}}元/㎡</i></p>
	            </div>
                <div class="clear"></div>
                <p class="clear p-other-infor"><span><i>姓名：</i>周小惠</span>
                    <span><i>电话：</i>13666666666</span> <br /><span><i>公司：</i>顺达地产</i></span><span><i>分店：</i>青阳北路分店</span></p>
	        </li>
        </a>
        {{/foreach}}
    </ul>
    <!--  
    <div class="pageRightMenu">
    	<span class="menu-button top-button am-icon-chevron-up" id="amz-go-top"></span>
        <span class="menu-button am-icon-comments"><i class="message-number">100</i></span>
        <span class="menu-button am-icon-share"></span>
        <span class="menu-button am-icon-history" id="menu-history-button" data-action="historyPopup"></span>
	</div>
	-->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollLoading.js"></script>

<script type="text/javascript">
    $(".scrollLoading").scrollLoading();

</script>
</body>
</html>


