<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的收藏</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="g-head">
        <a href="javascript:history.go(-1);"><i class="am-icon-chevron-left"></i></a>
        我的收藏
    </div>
    <div class="peo-top">
        <div class="peo-touxiang">
            <div class="ipic"><img src="http://dummyimage.com/70x70/000/fff"><i class="ipic-bg"></i></div>
            <i class="iTxt">{{$rel_name}}</i>
            <div class="some-list">
                <span>{{$house_count}}<br />我的房源</span>
                <span>{{$data|@count}}<br />我的收藏</span>
            </div>
        </div>
    </div>
    <div class="peo-tit">收藏的房源</div>
      <ul class="peo-house-info collects-house-info">
      {{foreach from=$data item=row}}
        <li>
            <div class="house-txt">
                <span class="house-state">
                    {{$row.xq_name}}
                </span>
                <div class="bor">
                    <span class="p-house-info">
                        {{$row.house_name}} <br />
                        {{$row.room}}室{{$row.lounge}}厅{{$row.toilet}}卫<br />
                        {{$row.region_name}}
                    </span>
                    <span class="p-house-time">
                        二手房<br />
                        <i class="price">{{$row.total_price}}万元/套</i><br />
                        {{$row.refresh_time}}<br />
                    </span>
                </div>
            </div>
        </li>
        {{/foreach}}
    </ul>
    <div class="footer collect-footer">© funmall.com.cn</div>
</body>
</html>


