<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫手机端</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="g-head">
    <i class="am-icon-chevron-left"></i>
        编辑房源
  </div>
  <div class="edit-tit">基本信息</div>
  <form class="edit-form">
     <ul class="edit-ul">
         <li><span>楼盘名称：</span>博威黄金海岸</li>
         <li><span>房源标题：</span><input type="text" class="txt" /><i class="color-999">(≤35个汉字)</i></li>
         <li><span>总价：</span><input type="text" class="txt wid45" />万</li>
         <li><span>建筑面积：</span><input type="text" class="txt wid45" />平米 <i class="color-999">(大于0的数字，可保留两位小数)</i></li>
     </ul>
     <div class="edit-tit">联系人信息</div>
     <ul class="edit-ul">
        <li><span>联系人：</span><input type="text" class="txt wid90" />
          <input type="radio" name="sex" id="male"><label for="male">先生</label>
          <input type="radio" name="sex" id="female"><label for="female">女士</label></li>
        <li><span>手机号码：</span><input type="text" class="txt"/></li>
     </ul>
     <input type="button" class="btn" value="确认修改" />
  </form>
  <p class="edit-ft">© m.funmall.com.cn</p>
</body>
</html>


