<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房猫手机端</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="g-head">
        <span class="am-icon-user"></span>
        <a href="index.html" class="logo"></a>
    </div>
    <div class="g-doc">
        <div class="new-list">
        	{{foreach from=$term_list key=key item=item}}
        	<a href="/m_house/view_list/{{$item.id}}" class="pic-box zhuanti-box">
                <span class="s-img">
                    <img data-url="/uploadfiles/term/{{$item.pic}}" src="images/default.gif" alt="'" class="scrollLoading" width="325" height="190">
                    <em class="{{if $item.is_top==1}}em-mark{{else}}em-tit{{/if}}">{{$item.name}}</em>
                </span>
                <p class="p-tit">{{$item.title}}</p>
            </a>
        	{{/foreach}}
        	<!--  
            <a href="/m_house/view_list" class="pic-box zhuanti-box">
                <span class="s-img">
                    <img data-url="/static/images/img1.jpg" src="images/default.gif" alt="'" class="scrollLoading">
                    <em class="em-mark">9月精选专题</em>
                </span>
                <p class="p-tit">城北学区房：别让您的孩子输在起跑线</p>
            </a>
            <a href="/m_house/view_list" class="pic-box">
                <span class="s-img">
                    <img data-url="/static/images/img2.jpg" src="images/default.gif" alt="'" class="scrollLoading">
                    <em class="em-tit">城东轨交房：那些房子门口的地铁</em>
                </span>
                <p class="p-tit">买房那点事，辨别真假轨交房，到底什么是真正的</p>
            </a>
            -->
        </div>
    </div>
    <div class="pageRightMenu">
        <span class="top-button" id="amz-go-top"><i class="am-icon-chevron-up"></i></span>
    </div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollLoading.js"></script>
<script type="text/javascript">
    $(".scrollLoading").scrollLoading();
    $('#amz-go-top').click(function(){
        $('html,body').animate({ scrollTop: 0 }, '500');
    });
</script>
</body>
</html>


