<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>城北学区房</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="g-head">
        <a href="/m_house/"><i class="am-icon-chevron-left"></i></a>
        城北学区房
    </div>
    <div class="g-doc">
        <!-- 筛选 start -->
        <div id="m-btn-filter">
            <div class="sort sort4 sort-bg-white sort-pop">
                <ul>
                    <li id="btnRegion" data-action="region" class="m-btn current">
                        <a>
                            <span>区域</span>
                            <i></i>
                        </a>
                    </li>
                    <li id="btnStyle" data-action="style" class="m-btn">
                        <a>
                            <span>类型</span>
                            <i></i>
                        </a>
                    </li>
                    <li id="btnPrice" data-action="price" class="m-btn">
                        <a>
                            <span>售价</span>
                            <i></i>
                        </a>
                    </li>
                    <li id="btnArea" data-action="area" class="m-btn">
                        <a>
                            <span>面积</span>
                            <i></i>
                        </a>
                    </li>
                    <li id="btnType" data-action="type" class="m-btn">
                        <a>
                            <span>户型</span>
                            <i></i>
                        </a>
                    </li>
                    <li id="btnFeature" data-action="feature" class="m-btn">
                        <a>
                            <span>特色</span>
                            <i></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wrap">
                <div class="sort-clear">
                    <a href="/xuanchegongju" class="btn-clear"><i class="am-icon-trash"></i>清除条件</a>
                </div>
            </div>
        </div>
        <div id="m-filter-mask" class="leftmask leftmask3" style="display: none;"></div>
        <div id="m-filter-price-leftPopup" class="leftPopup region" data-back="leftmask3" style="z-index: 999;">
            <ul class="first-list first-list-style">
            	<li><a href="javascript:void(0);">不限</a></li>
            	{{foreach from=$region_list item=item}}
                <li><a href="javascript:void(0);">{{$item.name}}</a></li>
                {{/foreach}}
            </ul>
        </div>
        <div id="m-filter-level-leftPopup" class="leftPopup style" data-back="leftmask3" style="z-index: 999;">
            <ul class="first-list">
                <li><a href="javascript:void(0);">不限</a></li>
                {{foreach from=$style_list item=item}}
                <li><a href="javascript:void(0);">{{$item.name}}</a></li>
                {{/foreach}}
            </ul>
        </div>
        <div id="m-filter-body-leftPopup" class="leftPopup price" data-back="leftmask3" style="z-index: 999;">
            <ul class="first-list">
                <li><a href="javascript:void(0);">不限</a></li>
                <li><a href="javascript:void(0);">50万以下</a></li>
                <li><a href="javascript:void(0);">50-80万</a></li>
                <li><a href="javascript:void(0);">80-100万</a></li>
                <li><a href="javascript:void(0);">100-120万</a></li>
                <li><a href="javascript:void(0);">120-150万</a></li>
                <li><a href="javascript:void(0);">150-200万</a></li>
                <li><a href="javascript:void(0);">200-250万</a></li>
                <li><a href="javascript:void(0);">250-300万</a></li>
                <li><a href="javascript:void(0);">300-500万</a></li>
                <li><a href="javascript:void(0);">500万以上</a></li>
            </ul>
        </div>
        <div id="m-filter-condition-leftPopup" class="leftPopup area" data-back="leftmask3" style="z-index: 999;">
            <ul class="first-list rp">
                <li><a href="javascript:void(0);">不限</a></li>
                <li><a href="javascript:void(0);">50平以下</a></li>
                <li><a href="javascript:void(0);">50-70平</a></li>
                <li><a href="javascript:void(0);">70-90平</a></li>
                <li><a href="javascript:void(0);">90-120平</a></li>
                <li><a href="javascript:void(0);">120-150平</a></li>
                <li><a href="javascript:void(0);">150-200平</a></li>
                <li><a href="javascript:void(0);">200-300平</a></li>
                <li><a href="javascript:void(0);">300平以上</a></li>
            </ul>
        </div>
        <div id="m-filter-brandtype-leftPopup" class="leftPopup type" data-back="leftmask3" style="z-index: 999;">
            <ul class="first-list rp">
                <li><a href="javascript:void(0);">不限</a></li>
                <li><a href="javascript:void(0);">一室</a></li>
                <li><a href="javascript:void(0);">二室</a></li>
                <li><a href="javascript:void(0);">三室</a></li>
                <li><a href="javascript:void(0);">四室</a></li>
                <li><a href="javascript:void(0);">五室</a></li>
                <li><a href="javascript:void(0);">五室以上</a></li>
            </ul>
        </div>
        <div id="m-filter-trans-leftPopup" class="leftPopup feature" data-back="leftmask3" style="z-index: 999;">
            <ul class="first-list rp">
                <li><a href="javascript:void(0);">不限</a></li>
                <li><a href="javascript:void(0);">婚房首选</a></li>
                <li><a href="javascript:void(0);">主卧朝南</a></li>
                <li><a href="javascript:void(0);">学区房</a></li>
                <li><a href="javascript:void(0);">交通便利</a></li>
                <li><a href="javascript:void(0);">南北通透</a></li>
                <li><a href="javascript:void(0);">双阳台</a></li>
                <li><a href="javascript:void(0);">小区中心位置</a></li>
                <li><a href="javascript:void(0);">投资首选</a></li>
            </ul>
        </div>
        
        <!-- popup end -->
        <div class="theme-box">
            <span class="s-img">
                <img data-url="images/img1.jpg" src="images/default.gif" alt="'" class="scrollLoading">
                <em class="em-mark">9月精选专题</em>
            </span>
        </div>
        <ul class="house-list">
        	<a href="/m_house/view_detail">
	            <li><img data-url="http://dummyimage.com/325x310/000/fff" src="images/default1.gif" alt="'" class="scrollLoading">
	                <p class="h-t1">城北 博威黄金海岸 大四房</p>
	                <p class="h-t2">2室1厅   |   4/11层   |   南北向 </p>
	                <p class="h-t4"><span class="price">￥<i>85万</i> </span><span class="area">89㎡</span></p>
	            </li>
            </a>
            <li><img data-url="http://dummyimage.com/325x310/000/fff" src="images/default1.gif" alt="'" class="scrollLoading">
                <p class="h-t1">城北 博威黄金海岸 大四房</p>
                <p class="h-t2">2室1厅   |   4/11层   |   南北向 </p>
                <p class="h-t4"><span class="price">￥<i>85万</i> </span><span class="area">89㎡</span></p>
            </li>
            <li><img data-url="http://dummyimage.com/325x310/000/fff" src="images/default1.gif" alt="'" class="scrollLoading">
                <p class="h-t1">城北 博威黄金海岸 大四房</p>
                <p class="h-t2">2室1厅   |   4/11层   |   南北向 </p>
                <p class="h-t4"><span class="price">￥<i>85万</i> </span><span class="area">89㎡</span></p>
            </li>
            <li><img data-url="http://dummyimage.com/325x310/000/fff" src="images/default1.gif" alt="'" class="scrollLoading">
                <p class="h-t1">城北 博威黄金海岸 大四房</p>
                <p class="h-t2">2室1厅   |   4/11层   |   南北向 </p>
                <p class="h-t4"><span class="price">￥<i>85万</i> </span><span class="area">89㎡</span></p>
            </li>
            <li><img data-url="http://dummyimage.com/325x310/000/fff" src="images/default1.gif" alt="'" class="scrollLoading">
                <p class="h-t1">城北 博威黄金海岸 大四房</p>
                <p class="h-t2">2室1厅   |   4/11层   |   南北向 </p>
                <p class="h-t4"><span class="price">￥<i>85万</i> </span><span class="area">89㎡</span></p>
            </li>
            <li><img data-url="http://dummyimage.com/325x310/000/fff" src="images/default1.gif" alt="'" class="scrollLoading">
                <p class="h-t1">城北 博威黄金海岸 大四房</p>
                <p class="h-t2">2室1厅   |   4/11层   |   南北向 </p>
                <p class="h-t4"><span class="price">￥<i>85万</i> </span><span class="area">89㎡</span></p>
            </li>
        </ul>
        <!-- 分页start -->
        <div class="m-pages">
            <a href="javascript:void(0)" class="m-pages-pre m-pages-none">上一页</a>
            <div class="m-pages-num">
                <div class="m-pages-num-con"><span id="curPageIndex">1</span>/126</div>
                <div class="m-pages-num-arrow"></div>
            </div>
            <select class="m-pages-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
            </select>
            <a href="javascript:void(0)" class="m-pages-next">下一页</a>
        </div>
        <!-- 分页 end -->
    </div>
    <div class="pageRightMenu">
        <span class="top-button" id="amz-go-top"><i class="am-icon-chevron-up"></i></span>
    </div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollLoading.js"></script>
<script type="text/javascript" src="/static/js/selectcartool.js"></script>
<script type="text/javascript">
    $(".scrollLoading").scrollLoading();
    $('#amz-go-top').click(function(){
        $('html,body').animate({ scrollTop: 0 }, '500');
    });
    //右侧滑动栏
    $(".m-btn").click(function(){
       var boxClass = $(this).attr("data-action");
       $('#m-filter-mask').show();
       $("."+boxClass).addClass("swipeLeft-block");
       $('body').css('overflow','hidden')
     })
    $('#m-filter-mask').click(function(){
        $(".leftPopup").removeClass("swipeLeft-block");
        $('#m-filter-mask').hide();
        $('body').css('overflow','inherit');
    });
</script>
</body>
</html>


