<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房源管理</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="g-head">
        <a href="javascript:history.go(-1);"><i class="am-icon-chevron-left"></i></a>
        我的房源
    </div>
    <div class="peo-top">
        <div class="peo-touxiang">
            <div class="ipic"><img src="/images/touxiang.gif"><i class="ipic-bg"></i></div>
            <i class="iTxt">{{$rel_name}}</i>
            <div class="some-list">
                <a href="{{site_url url='m_manage'}}"><span>{{$data['res_list']|@count}}<br />我的房源</span></a>
                <a href="{{site_url url='m_manage/collect'}}"><span>{{$data['collect_count']}}<br />我的收藏</span></a>
            </div>
        </div>
    </div>
    <div class="peo-tit">我的房源</div>
    <div class="fenlei">分类：<a href="{{site_url url='m_manage'}}" class="current">全部房源</a> | <a href="{{site_url url='m_manage/collect'}}">收藏房源</a></div>
    <ul class="peo-house-info">
    {{foreach from=$data['res_list'] item=row}}
        <li>
            <div class="house-txt">
                <span class="house-state">
                    {{if $row->exe_status == 1}}在售{{else}}已下架{{/if}}
                </span>
                <div class="bor">
                    <a href="{{site_url url='m_house/view_detail'}}/{{$row->id}}"><span class="p-house-info">
                        {{$row->name}}{{$row->room}}室{{$row->lounge}}厅{{$row->toilet}}卫<br /> <i class="price">{{$row->total_price}}</i>万
                    </span></a>
                    <span class="p-house-time">
                        {{$row->refresh_time}}刷新
                    </span>
                </div>
                <span class="am-icon-angle am-icon-angle-up">
                </span>
            </div>
            <div class="editor-btn">
                <!-- <a href="">置顶</a> |  -->
                <a href="/m_manage/edit/{{$row->id}}">编辑</a> |
                <a href="/m_manage/refresh/{{$row->id}}">刷新</a> |
                {{if $row->exe_status > 0}}
                <a href="/m_manage/down_up/{{$row->id}}/-1">下架</a> |
                {{else}}
                <a href="/m_manage/down_up/{{$row->id}}/1">上架</a> |
                {{/if}}
            </div>
        </li>
        {{/foreach}}
    </ul>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
{include file='nav.html'}
<script type="text/javascript">
$(".peo-house-info li").click(function(){
    $(".editor-btn").hide();
    $(this).children(".editor-btn").show();
});

</script>
</body>
</html>


