<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>城北学区房</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="g-head">
        <i class="am-icon-chevron-left"></i>
        我的房源
    </div>
    <div class="peo-top">
        <div class="peo-touxiang">
            <div class="ipic"><img src="http://dummyimage.com/70x70/000/fff"><i class="ipic-bg"></i></div>
            <i class="iTxt">funmall-u20150911</i>
            <div class="some-list">
                <span>025<br />我的房源</span>
                <span>013<br />我的收藏</span>
            </div>
        </div>
    </div>
    <div class="peo-tit">我的房源</div>
    <div class="fenlei">分类：<a href="" class="current">全部房源</a> | <a href="">在售房源</a> | <a href="">下架房源</a> | <a href="">收藏房源</a></div>
    <ul class="peo-house-info">
        <li>
            <div class="house-txt">
                <span class="house-state">
                    在售
                </span>
                <div class="bor">
                    <span class="p-house-info">
                        博威黄金海岸2室1厅一卫<br /> <i class="price">85</i>万
                    </span>
                    <span class="p-house-time">
                        2015-09-09发布
                    </span>
                </div>
                <span class="am-icon-angle am-icon-angle-up">
                </span>
            </div>
            <div class="editor-btn">
                <a href="">置顶</a> | 
                <a href="/m_manage/edit">编辑</a> |
                <a href="">刷新</a> |
                <a href="">下架</a> |
            </div>
        </li>
        <li>
            <div class="house-txt">
                <span class="house-state">
                    在售
                </span>
                <div class="bor">
                    <span class="p-house-info">
                        博威黄金海岸2室1<br /> <i class="price">85</i>万
                    </span>
                    <span class="p-house-time">
                        2015-09-09发布
                    </span>
                </div>
                <span class="am-icon-angle am-icon-angle-down">
                </span>
            </div>

            <div class="editor-btn">
                <a href="">置顶</a> | 
                <a href="">编辑</a> |
                <a href="">刷新</a> |
                <a href="">下架</a> |
            </div>
        </li>
        <li>
            <div class="house-txt">
                <span class="house-state">
                    在售
                </span>
                <div class="bor">
                    <span class="p-house-info">
                        博威黄金海岸2室1厅一卫<br /> <i class="price">85万</i>
                    </span>
                    <span class="p-house-time">
                        2015-09-09发布
                    </span>
                </div>
                <span class="am-icon-angle am-icon-angle-down">
                </span>
            </div>
            <div class="editor-btn">
                <a href="">置顶</a> | 
                <a href="">编辑</a> |
                <a href="">刷新</a> |
                <a href="">下架</a> |
            </div>
        </li>
        <li>
            <div class="house-txt">
                <span class="house-state">
                    在售
                </span>
                <div class="bor">
                    <span class="p-house-info">
                        博威黄金海岸2室1厅一卫<br /> <i class="price">85万</i>
                    </span>
                    <span class="p-house-time">
                        2015-09-09发布
                    </span>
                </div>
                <span class="am-icon-angle am-icon-angle-down">
                </span>
            </div>
            <div class="editor-btn">
                <a href="">置顶</a> | 
                <a href="">编辑</a> |
                <a href="">刷新</a> |
                <a href="">下架</a> |
            </div>
        </li>
        <li>
            <div class="house-txt">
                <span class="house-state">
                    在售
                </span>
                <div class="bor">
                    <span class="p-house-info">
                        博威黄金海岸2室1厅一卫<br /> <i class="price">85</i>万
                    </span>
                    <span class="p-house-time">
                        2015-09-09发布
                    </span>
                </div>
                <span class="am-icon-angle am-icon-angle-down">
                </span>
            </div>
            <div class="editor-btn">
                <a href="">置顶</a> | 
                <a href="">编辑</a> |
                <a href="">刷新</a> |
                <a href="">下架</a> |
            </div>
        </li>
        <li>
            <div class="house-txt">
                <span class="house-state">
                    在售
                </span>
                <div class="bor">
                    <span class="p-house-info">
                        博威黄金海岸2室1厅一卫<br /> <i class="price">85</i>万
                    </span>
                    <span class="p-house-time">
                        2015-09-09发布
                    </span>
                </div>
                <span class="am-icon-angle am-icon-angle-down">
                </span>
            </div>
            <div class="editor-btn">
                <a href="">置顶</a> | 
                <a href="">编辑</a> |
                <a href="">刷新</a> |
                <a href="">下架</a> |
            </div>
        </li>
        <li>
            <div class="house-txt">
                <span class="house-state">
                    在售
                </span>
                <div class="bor">
                    <span class="p-house-info">
                        博威黄金海岸2室1厅一卫<br /> <i class="price">85</i>万
                    </span>
                    <span class="p-house-time">
                        2015-09-09发布
                    </span>
                </div>
                <span class="am-icon-angle am-icon-angle-down">
                </span>
            </div>
            <div class="editor-btn">
                <a href="">置顶</a> | 
                <a href="">编辑</a> |
                <a href="">刷新</a> |
                <a href="">下架</a> |
            </div>
        </li>
    </ul>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
$(".peo-house-info li").click(function(){
    $(".editor-btn").hide();
    $(this).children(".editor-btn").show();
});

</script>
</body>
</html>


